<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<table class="table table-hover" id="isoTable">

		{% set root_index = -1 %} 
		<tbody>
		{% for row in data %}
			{% if row.type == "root" %}
				{% set root_index = root_index + 1 %} 
				<tr id="{{row.ref}}">
					<th colspan="5">{{row.ref + ' ' + row.name}}</th>
				</tr>
			{% elif row.type == "node" %}
				<tr>
					<td class="col-lg-1">{{row.ref}}</td>
					<td>{{row.name}}</td>
					<td colspan="3">{{row.description}}</td>
				</tr>
			{% elif row.type == "leaf" %}
				<tr>
					<td class="col-lg-1">{{row.ref}}</td>
					<td class="col-lg-3">{{row.name}}</td>
					<td class="col-lg-1">
						{% if row.selected == 0 %}
							<span ng-show="!sl{{row.id}}" class="badge badge-danger">
								Не применяется
							</span>
						{% else %}
							<span ng-show="sl{{row.id}}" class="badge badge-success">
								Применяется
							</span>
						{% endif %}
					</td>
					<td class="col-lg-1">
						{% if row.implemented == 0 %}
							<span ng-show="!impl{{row.id}}" class="badge badge-danger">
								Не реализовано
							</span>
						{% else %}
							<span ng-show="impl{{row.id}}" class="badge badge-success">
								Реализовано
							</span>
						{% endif %}
					</td>
					<!-- <td>{{row.description}}</td> -->
					<td class="col-lg-6">
						<div contentEditable="true"
						     ng-model="comment{{row.id}}"
						     ng-change="setComment('{{row.id}}',comment{{row.id}})">
							{{row.comment}}
						</div>
					</td>
				</tr>
			{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</body>