<div class="row">
	<div class="col-lg-10 col-md-10" role="main" id="sec-top">
		<h2>ГОСТ Р ИСО/МЭК 27001-2006</h2>
		<div class="content-box big-box" data-spy="affix" data-target="#sidenav">
			<div class="row" id="graph">
				<highchart id="chart1" config="chartConfig"></highchart>
			</div>
			<a type="button" class="btn btn-default" href="correspondences/download">{{_('Save')}}
			</a>
			<table class="table table-hover" id="isoTable">

				{% set root_index = -1 %}
				<tbody>
				{% for row in data %}
					{% if row.type == "root" %}
						{% set root_index = root_index + 1 %} 
						<tr id="{{row.ref}}">
							<th colspan="5">{{row.ref + ' ' + row.name}}</th>
						</tr>
					{% elif row.type == "node" %}
						<tr>
							<td class="col-lg-1">{{row.ref}}</td>
							<td>{{row.name}}</td>
							<td colspan="3">{{row.description}}</td>
						</tr>
					{% elif row.type == "leaf" %}
						<tr>
							<td class="col-lg-1">{{row.ref}}</td>
							<td class="col-lg-3">{{row.name}}</td>
							<td class="col-lg-1">
								<div href=""
								   ng-click="switchSl('{{row.id}}', {{root_index}})"
								   ng-model="sl{{row.id}}"
								   ng-init="sl{{row.id}} = {{row.selected}}">
									<button ng-show="!sl{{row.id}}" class="btn btn-xs btn-danger">
										Не применяется
									</button>
									<button ng-show="sl{{row.id}}" class="btn btn-xs btn-success implemented">
										Применяется
									</button>
								</div>
							</td>
							<td class="col-lg-1">
								<div ng-click="switchImpl('{{row.id}}', {{root_index}})"
								     ng-model="impl{{row.id}}"
								     ng-init="impl{{row.id}} = {{row.implemented}}">
									<button ng-show="!impl{{row.id}} || !sl{{row.id}}"
									        ng-disabled="!sl{{row.id}}" class="btn btn-xs btn-danger">
										Не реализовано
									</button>
									<button ng-show="impl{{row.id}} && sl{{row.id}}"
									        ng-disabled="!sl{{row.id}}" class="btn btn-xs btn-success implemented">
										Реализовано
									</button>
								</div>
							</td>
							<!-- <td>{{row.description}}</td> -->
							<td class="col-lg-6" contentEditable="true"  ng-model="comment{{row.id}}" ng-change="setComment('{{row.id}}',comment{{row.id}})" ng-init="comment{{row.id}} = '{{row.comment}}'">
							</td>
						</tr>
					{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-2 col-md-2" role="complementary">
		<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style=""> 
			<ul class="nav bs-docs-sidenav">
				<li>
					<a href=""
					   ng-click="scrollToSection('sec-top')"
					   style="padding: 5px 5px; color:#1A237E;">Статистика</a>
				</li>
			{% for row in data %}
				{% if row.type == "root" %}
					<li>
						<a href=""
						   ng-click="scrollToSection('{{row.ref}}')"
						   style="padding: 5px 5px; color:#1A237E;">
							{{row.ref + ' ' + row.name}}</a>
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		</nav>
	</div>
</div>

<script json-data ng-model="dataTmp" type="application/json">{{ data_for_graph|tojson|safe }}
</script>
