
<div class="modal-header" >
	<h3 class="modal-title">{{_('Event information')}}</h3>
</div>
<div class="modal-body">
	<div ng-include src="'baseEventData_top.html'"></div>

	<div ng-if="(net.children | objLength) > 0">
		<event-data-frame data="net"></event-data-frame>
	</div>
	<div ng-repeat="obj in other">
		<event-data-frame data="obj"></event-data-frame>
	</div>

	<event-data-frame data="base_bottom"></event-data-frame>
</div>

<script type="text/ng-template" id="baseEventData_top.html">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<dl class="dl-horizontal" style="margin-bottom: 0px;">
				<dt>{[{ base.children.event_id.label }]}</dt>
				<dd>{[{ base.children.event_id.value }]}</dd>
			</dl>
		</div>
		<div class="col-lg-12 col-md-12">
			<dl class="dl-horizontal" style="margin-bottom: 0px;">
				<dt>{[{ base.children.event_type.label }]}</dt>
				<dd>{[{ base.children.event_type.value }]}</dd>
			</dl>
		</div>
		<div class="col-lg-6 col-md-6">
			<dl class="dl-horizontal">
				<dt>{[{ base.children.plugin_id.label }]}</dt>
				<dd>{[{ base.children.plugin_id.value }]}</dd>
				<dt>{[{ base.children.plugin_sid.label }]}</dt>
				<dd>{[{ base.children.plugin_sid.value }]}</dd>
			</dl>
		</div>
		<div class="col-lg-6 col-md-6">
			<dl class="dl-horizontal">
				<dt>{[{ base.children.timestamp.label }]}</dt>
				<dd>{[{ base.children.timestamp.value * 1000 | date:'yyyy-MM-dd HH:mm:ss'}]}</dd>
				<dt ng-show="base.children.timestamp_event">{[{ base.children.timestamp_event.label }]}</dt>
				<dd ng-show="base.children.timestamp_event">{[{ base.children.timestamp_event.value * 1000 | date:'yyyy-MM-dd HH:mm:ss'}]}</dd>
			</dl>
		</div>
	</div>
</script>

<script type="text/ng-template" id="baseEventData_bottom.html">
	<div class="row">
		<div class="col-lg-12 col-md-12" ng-repeat="(k, obj) in data.children" ng-if="k!='data'">
			<dl class="dl-horizontal" style="margin-bottom: 0px;">
				<dt>{[{obj.label}]}</dt>
				<dd>{[{obj.value}]}</dd>
			</dl>
		</div>
		<div class="col-lg-12 col-md-12">
			<dl class="dl-horizontal">
				<dt>{[{data.children.data.label}]}</dt>
				<dd>
					{[{data.children.data.value}]}
				</dd>
			</dl>
		</div>
	</div>
</script>


<script type="text/ng-template" id="regularDataFrame.html">
	<div class="row">
		<div class="col-lg-12 col-md-12" ng-repeat="filed in data.children">
			<dl class="dl-horizontal" style="margin-bottom: 0px;">
				<dt>{[{ filed.label }]}</dt>
				<dd>
					<span ng-class="{'wmi-message': $index === 7}">
						{[{ filed.value }]}
					</span>
				</dd>
			</dl>
		</div>
	</div>
</script>

<script type="text/ng-template" id="netEventData.html">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<dl class="dl-horizontal" style="margin-bottom: 0px;">
				<dt>{[{ data.children.proto.label }]}</dt>
				<dd>
					{[{ data.children.proto.value }]}
				</dd>
			</dl>
		</div>
		<div class="col-lg-6 col-md-6">
			<dl class="dl-horizontal">
				<dt>{[{ data.children.ip_dst.label }]}</dt>
				<dd>
					{[{ data.children.ip_dst.value }]}
				</dd>
				<dt>{[{ data.children.port_dst.label }]}</dt>
				<dd>
					{[{ data.children.port_dst.value }]}
				</dd>
				<dt>{[{ data.children.host_dst.label }]}</dt>
				<dd>
					{[{ data.children.host_dst.value }]}
				</dd>
				<dt>{[{ data.children.mac_dst.label }]}</dt>
				<dd>
					{[{ data.children.mac_dst.value }]}
				</dd>
			</dl>
		</div>
		<div class="col-lg-6 col-md-6">
			<dl class="dl-horizontal">
				<dt>{[{ data.children.ip_src.label }]}</dt>
				<dd>
					{[{ data.children.ip_src.value }]}
				</dd>
				<dt>{[{ data.children.port_src.label }]}</dt>
				<dd>
					{[{ data.children.port_src.value }]}
				</dd>
				<dt>{[{ data.children.host_src.label }]}</dt>
				<dd>
					{[{ data.children.host_src.value }]}
				</dd>
				<dt>{[{ data.children.mac_src.label }]}</dt>
				<dd>
					{[{ data.children.mac_src.value }]}
				</dd>
			</dl>
		</div>
	</div>
</script>


{% include 'event_listener/event/rubicon_data.html' %}
