<div ui-layout="{flow : 'column', disableToggle: true}" class="maincontainer">
	<div ui-layout-container min-size="15%" max-size="60%" size="20%" class="ui-layout-left">
		<div class="row" style="padding: 10px">
			<div class="col-lg-12" style="margin-top: 5px">
				<div class="komrd-ren-st">
					<div class="green-bg content-title small-box i-block text-center">
						<span class="zero-m" style="font-weight: bold;font-size: 16px;">{{_('Requests list')}}</span>
					</div>
					<div class="small-box" style="padding-top: 0; padding-bottom: 15px; margin-top: 15px">
						<div class="text-center">
							<button class="btn waves btn-primary waves-effect"
							        ng-click="openCreator('lg')">{{_('New request')}}
							</button>
						</div>
						<div class="row" style="margin-top: 10px">
							<div class="col-lg-12">
								<input type="text" class="form-control" placeholder="{{_('Search...')}}"
								       ng-model="searchBofList">
							</div>
						</div>
						<div style="margin-top: 10px;">
							<table class="table table-hover table-striped">
								<tbody>
<!-- 									<tr ng-repeat="data in bofLists.data | filter:searchBofList"
									    ng-click="selectList(data)"
									    uib-popover-template="'bofListShortInfo.html'"
									    popover-trigger="click"
									    popover-placement="right"
									    popover-animation="false"
									    popover-append-to-body="true"
									    style="cursor:pointer;"> -->
									<tr ng-repeat="data in bofLists.data | filter:searchBofList"
									    ng-click="selectList(data)"
									    style="cursor:pointer;">
										<td>
										<div class="content-title i-block">
											{[{data.name}]}
											<div class="content-tools i-block pull-right">
												<span ng-show="data.type === 'auto'" class="badge badge-info">{{_('auto')}}</span>
												<span ng-hide="data.type === 'auto'" class="badge">{{_('custom')}}</span>
											</div>
										</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div ui-layout-container min-size="40%" max-size="85%" size="80%" class="ui-layout-center">
		<div class="col-lg-12" ng-hide="bofLists.data.lenth === 0" style="margin-top: 15px;">
			<div style="height:100%">
				<!--<div class="panel panel-info" style="height:100%; overflow: hidden;"
						  ng-show="data.errorMessage">-->

					<bof-list-full-data list-id="selected_list"> </bof-list-full-data>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="bofWizard.html">
	<div class="modal-body">
		<wizard name="{[{wizard.wizardConfig.name}]}"
		        edit-mode="wizard.listConfirmed" indicators-position="top">
			<wz-step wz-title="{{_('name and type')}}" canexit="wizard.stepOne">
				<div class="wizard-content">
					<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
						<form name="form" class="content-form form-horizontal name-form"
						      novalidate>
							<div class="form-group"
							     ng-class="{'form-group': true, 'has-error':form.name.$invalid && wizard.name.$dirty}">
								<label class="col-lg-3 col-md-3 col-sm-4 control-label danger">
									{{_('Request Name')}}*
								</label>
								<div class="col-lg-9 col-md-9 col-sm-8">
									<input class="form-control material" name="name"
									       placeholder="{{_('some name')}}"
									       ng-model="wizard.request_settings.name" required>

									<div class="val-error animate-show"
									     ng-show="form.name.$invalid && wizard.name.$dirty">
										<ul>
											<li ng-show="form.name.$error.required">
												{{_('this field is required')}}
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 col-md-3 col-sm-4 control-label danger">
									{{_('Request Type')}}
								</label>
								<div class="col-lg-9 col-md-9 col-sm-8">
									<select class="form-control material"
									        ng-model="wizard.request_settings.type">
										<option value="auto">Автоматический</option>
										<option value="custom">Импорт из CSV</option>
									</select>
								</div>
							</div>
							<div style="height: 100px"></div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<button type="submit" class="btn btn-default"
						        ng-click="wizard.cancel()">
							{{_('Cancel')}}
						</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="pull-right">
							<button type="submit" class="btn btn-primary" wz-next>
								{{_('Next')}}
							</button>
						</div>
					</div>
				</div>
			</wz-step>
			<wz-step wz-title="{{_('Request')}}" canexit="wizard.rulesValidation">
				<div class="wizard-content">
					<div ng-show="wizard.request_settings.type === 'auto'">
						<div class="row">
							<div class="col-lg-12">
								<form name="refresh-form"
								      class="content-form form-inline refresh-form"
								      novalidate>
									<div class="form-group">
										<label for="refresh" style="font-weight: bold">{{_('Refresh')}}</label>
										<span class="fa fa-clock-o"
										      style="margin-left: 15px; font-size: 20px; padding-top: 2px">
										</span>
										<input type="number" class="form-control material"
										       id="refresh"
										       ng-disabled="!wizard.request_settings.refresh"
										       ng-model="wizard.request_settings.update_period"
										       style="width: 70px; margin-left: 15px">
									</div>
									<div class="form-group">
										<select class="form-control material"
										        ng-disabled="!wizard.request_settings.refresh"
										        ng-model="wizard.request_settings.timer_select">
											<option value="s">Секунды</option>
											<option value="m">Минуты</option>
											<option value="h">Часы</option>
										</select>
									</div>
									<div class="form-group">
										<div class="checkbox checkbox-danger bof-refresh">
											<label>
												<input type="checkbox"
												       ng-model="wizard.request_settings.refresh"
												       ng-true-value="false" ng-false-value="true">
												<i></i>
												{{_('Do not Refresh')}}
											</label>
										</div>
									</div>
								</form>
								<div class="form col-lg-12">
									<div class="val-error animate-show"  ng-show="wizard.showErrors.refresh" >
										<ul>
											<li>{{_('please input the time period or set it as unrefreshable')}}</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-12" style="margin-top: 20px">
								<form name="form" class="content-form form-horizontal"
								      novalidate>
									<div class="form-group">
										<label class="col-lg-1 col-md-2 control-label"
									      style="font-weight: bold">{{_('Request')}}</label>
										<div class="textarea-prefixed">
											<label for="sql"
											       class="col-lg-1 col-md-2"
											       style="font-weight: bold">SELECT</label>
											<div class="col-lg-11 col-md-10">
												<textarea class="form-control" rows="3" id="sql"
														  style="resize: none;"
														  ng-model="wizard.request_settings.sql"></textarea>
											</div>
										</div>
									</div>

									<div class="form col-lg-12 col-lg-offset-1 col-md-offset-2">
										<div class="val-error animate-show" ng-show="wizard.showErrors.request || wizard.showErrors.requestData">
											<ul>
												<li ng-show="wizard.showErrors.sql">{{_('please input the request')}}</li>
												<li ng-show="wizard.showErrors.requestData">{{_('request is not valid')}}</li>
											</ul>
										</div>
									</div>
									<div class="form-group">
										<div class=" col-lg-12">
											<button class="pull-right btn waves btn-success waves-effect"
													ng-click="wizard.runRequest()"
													ng-disabled="requestLoading">{{_('Run')}}
											</button>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-1 col-md-2"
										       style="font-weight: bold">{{_('Result')}}</label>
										<div class="col-lg-11 col-md-10">
											<div class="well well-sm">
												<table class="table table-hover table-striped">
													<tbody>
														<tr ng-repeat="row in wizard.rawReqData">
															<td>{[{row[0]}]}</td>
															<td>{[{row[1]}]}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div ng-show="wizard.request_settings.type === 'custom'">
						<div class="row">
							<div class="col-lg-12">
								<div class="pull-right">
									<span style="margin-right: 15px">{{_('Load data at CSV format')}}</span>
									<span class="btn waves btn-primary waves-effect btn-file">
										{{_('Upload file')}}
										<input type="file"
										       file-change="wizard.handler($event, files)"
										       ng-model="wizard.csvFiles">
									</span>

								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 10px">
{#							<div class="col-lg-12">#}
{#								<span style="font-weight: bold; margin-right: 15px;">{{_('Filename')}}</span>#}
{#								<span>{[{wizard.fileName}]}</span>#}
{#							</div>#}
							<div class="col-lg-12">
								<div class="well well-sm" style="overflow-y: auto; height: 300px">
									<table class="table table-hover table-striped">
										<tbody>
										<tr ng-repeat="data in wizard.runResult  track by $index"
										    style="cursor:pointer;">
											<td ng-repeat="cell in data track by $index">
												{[{cell}]}
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<button type="submit" class="btn btn-default"
						        ng-click="wizard.cancel()">
							{{_('Cancel')}}
						</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="pull-right">
							<button type="submit" class="btn btn-default" wz-previous>{{_('Back')}}
							</button>
							<button type="submit" class="btn btn-primary" wz-next
							        ng-hide="wizard.isUpdate"
							        ng-click="wizard.create(refreshForm)">
								{{_('Create')}}
							</button>
							<button type="submit" class="btn btn-primary" wz-next
							        ng-show="wizard.isUpdate"
							        ng-click="wizard.update(refreshForm)">
								{{_('Save')}}
							</button>
						</div>
					</div>
				</div>
			</wz-step>
		</wizard>
	</div>
</script>

<script type="text/ng-template" id="dialog.html">
	<div class="on-white modal-header">
		<div class="pull-right">
			<span class="glyphicon glyphicon-remove" style="cursor: pointer"
			      ng-click="modal.cancel()"></span>
		</div>
		<div class="text-left">
			<h4 class="modal-title">{{_('List delete')}}</h4>
		</div>
	</div>
	<div class="modal-body">
		<span class="on-white text-center">{{_('Delete this list')}}?</span>
	</div>
	<div class="modal-footer text-center">
		<button popover-placement="top"
		        class="btn btn-default" ng-click="modal.cancel()" type="button">{{_('Cancel')}}
		</button>
		<button class="btn btn-danger delOk" ng-click="modal.remove()" type="button">{{_('Delete')}}</button>
	</div>
</script>



<script type="text/ng-template" id="bofListShortInfo.html">
	<dl class="dl-horizontal">
		<dt>
			{{_('List type')}}:
		</dt>
		<dd>
			{[{data.type}]}
		</dd>
		<div ng-if="data.type == 'auto'">
			<dt>
				{{_('SQL')}}:
			</dt>
			<dd>
				{[{data.sql}]}
			</dd>
			<dt>
				{{_('Refresh params')}}:
			</dt>
			<dd>
				{[{data.sql}]}
			</dd>
		</div>
		<div ng-if="data.type == 'custom'">
			<dt>
				{{_('Filename')}}:
			</dt>
			<dd>
				{[{data.filename}]}
			</dd>
		</div>
	</dl>
</script>


<script type="text/ng-template" id="bofListSingleFull.html">

	<div ng-view class="panel" style="height:100%; overflow: hidden;">
		<div class="panel-heading blue-bg"
		     ng-class="(data.errorMessage)?data.errorPanel:null"
		     style="padding-bottom: 0;"
		     data-toggle="tooltip" data-placement="top" title="{[{ list.settings.name }]}">

			<div class="content-title i-block">
				<h4 class="zero-m widget-hidden-title">{[{ listInformation.name }]}</h4>
				<div class="content-tools i-block pull-right">
					<a class="dropdown-toggle close-btn on-white"
					   data-toggle="dropdown"
					   aria-expanded="false"
					   title="{{_('Graph')}}"
					   ng-show="graphConfig"
					   ><i class="fa fa-area-chart"></i></a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="setGraphType('pie')">{{_('Pie')}}</a></li>
						<li><a href="" ng-click="setGraphType('column')">{{_('Column')}}</a></li>
						<li><a href="" ng-click="setGraphType('line')">{{_('Line')}}</a></li>
						<li><a href="" ng-click="setGraphType('column3d')">{{_('Column3d')}}</a></li>
						<li><a href="" ng-click="setGraphType('pie3d')">{{_('Pie3d')}}</a></li>
					</ul>

					<a class="close-btn on-white" title="{{_('Open settings')}}"
					   ng-click="openSettings(listItem)"><i class="fa fa-cog"></i></a>
					<a class="close-btn on-white" title="{{_('Remove widget')}}"
					   ng-click="deleteListModal(listItem)">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="panel-body widget-gr-height"
		     ng-class="(data.errorMessage) ? data.panelDisable : null"
		     style="padding: 20px; overflow: overlay;">
			<div class="row" ng-show="listInformation.type === 'auto'">
				<div class="col-lg-12">
					<span class="fa fa-clock-o" style="font-size: 20px;"></span>
					<span style="margin-left: 15px;"
					      ng-show="listInformation.update_period">
						{{_('Data update period is')}} {[{listInformation.update_period}]} {[{listInformation.timer_select}]}
					</span>
					<span style="margin-left: 15px; "
					      ng-hide="listInformation.update_period">
						<b>{{_('The list is not refrashable')}}</b>
					</span>
				</div>
				<div class="col-lg-12" style="padding-bottom: 15px;">
					<span style="font-weight: bold">{{_('Request')}}</span>
					<div class="col-lg-12" ng-show="listInformation.sql">
					<span>
						{[{listInformation.sql}]}
					</span>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="tabbable panel with-nav-tabs panel-default" style="display: inline-table; width: 100%;">
						<div class="panel-heading">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#/bof/lists#table">{{_("Table")}}</a></li>
								<li><a data-toggle="tab" href="#/bof/lists#chart">{{_("Chart")}}</a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane fade active in" id="table">
									<table class="table table-hover table-striped"
									       ng-hide="listsContent.has_error">
										<tbody>
										<tr ng-repeat="row in listInformation.values track by $index">
											<td ng-repeat="cell in row track by $index">
												{[{cell}]}
											</td>
										</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane fade" id="chart">
									<div class="col-lg-12 text-center" ng-hide="graphConfig">
										<div class="col-lg-4 col-lg-offset-4" style="border: 1px solid #ddd; border-radius: 5px; padding: 5px">
											<span>{{_("Incorrect data to display chart")}}</span>
										</div>
									</div>
									<div class="row" ng-show="graphConfig">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<h3>Тип диаграммы</h3>
											<div class="list-group">
												<a class="list-group-item" href="" ng-click="setGraphType('pie')">{{_('Pie')}}</a>
												<a class="list-group-item" href="" ng-click="setGraphType('column')">{{_('Column')}}</a>
												<a class="list-group-item" href="" ng-click="setGraphType('line')">{{_('Line')}}</a>
												<a class="list-group-item" href="" ng-click="setGraphType('column3d')">{{_('Column3d')}}</a>
												<a class="list-group-item" href="" ng-click="setGraphType('pie3d')">{{_('Pie3d')}}</a>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8">
											<highchart config="graphConfig"
											           class="chart">
											</highchart>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-show="listInformation.type === 'custom'">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<table class="table table-hover table-striped"
					       ng-hide="listsContent.has_error">
						<tbody>
						<tr ng-repeat="row in listInformation.values track by $index">
							<td ng-repeat="cell in row track by $index">
								{[{cell}]}
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</script>