{%- extends "layouts/base.html" %}

{% block html_attribs %}
{{super()}}
lang="en"
{% endblock %}

{% block head %}
	{{super()}}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no" />
{% endblock %}

{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/Waves/dist/waves.min.css') }}">

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">


{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='bower_components/Waves/dist/waves.min.js')}}"></script>
	<script>
		//Waves effect on buttons
		Waves.attach('.waves', ['waves-float']);
		Waves.init();
	</script>
{% endblock %}


{% block body %}
	{{super()}}
  <div class="table-wrapper">
    <div class="table-row">
      <div class="table-cell text-center">
        <div class="pagenotfound i-block">
          <div class="content-box">
            <div class="light-blue-bg top">
              <h1 class="zero-m">500</h1>

              <a href="index" class="fa-stack fa-2x icon-back">
                <i class="fa fa-circle fa-stack-2x blue"></i>
                <i class="fa fa-long-arrow-left fa-stack-1x fa-inverse"></i>
              </a>
              <span class="fa-stack fa-2x icon-home">
                <i class="fa fa-circle fa-stack-2x yellow"></i>
                <i class="fa fa-home fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="big-box">
              <h4>{{ _('Unexpected Error')}}</h4>
              <p>{{ _('Something going wrong.')}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
