#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li {  padding: 5px; list-style: none;}
html>body #sortable li { height: auto; line-height: 1.2em; }
.ui-state-highlight { color:#245269 ;height: 50px !important; line-height: 50px; border: 1pt dashed #245269 }

.toggler { width: 500px; height: 200px; }
#button { padding: .5em 1em; text-decoration: none; }
#effect { width: 240px; height: 135px; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }

.collapse-two {display: inline; float: right; margin-top: 5px;}
.get-rules-button { width: 100px; margin-left: 10px; float: right;}
.timeout {width: 60px!important;}
.rule-name {width: 100px!important;}
.vertical-separator {border-left: 2px inset rgba(0,0,0,0.2); height: 20px;  margin-left: 20px; padding-left: 10px; padding-right: 5px; }
.fix-font-color { color: #FFF!important; font-weight: 400!important; font-size: 16px;}
.fix-combol-background{ background-color: #63A8EB!important; }
.rule-description-style { width: 100%!important }
.placeholder-fix::-webkit-input-placeholder {color: #CFD8DC; }
.body-padding-fix {padding-top: 0px;}

.rules-list .dl {left:5px;}
.panel-heading {padding-top: 4px; padding-bottom: 4px; }
.manage-group {display: inline; float: right; margin-top: 5px; padding-left: 5px!important; padding-right: 5px;}
.manage-group-right-padding {padding-right: 25px;}
.hover-icons { cursor: pointer; }

.vertical-separator-static {margin-right: 10px!important; margin-left: 5px; color: #444;}

.page-header {margin-top: 0px!important;}
.icons-fix {top: 5px!important; color: #444; display:inline;}
.ui-tabs-anchor-fix {padding: 7px!important; }
.navbar-left-fix { margin: 0px; }
.input-group-addon-fix {background-color: #F99!important; border-radius: 0px; padding-top: 0px!important; padding-bottom: 0px!important}
.panel-body-fix {padding: 0px; }
.panel-fix { margin-bottom: 0px; }
.btn {margin-right: 0px!important; padding-left:6px!important; padding-right: 6px!important;}
.table-td-fix {margin: 0px!important; padding-right:0px!important;padding-left:3px!important;}
.table-fix {margin: 0px!important; padding:0px!important; margin-bottom: 0px!important;} 

.mjs-nestedSortable-expanded {margin-right: 0px!important; padding-right: 0px!important;}
.mjs-nestedSortable-leaf {margin-right: 0px!important; padding-right: 0px!important;}
.ui-state-default {margin-right: 0px!important; padding-right: 0px!important;}

