<div id="groups" class="tab-pane fade">

	<table class="table table-condensed text-center"
	       st-safe-src="groups.items" st-table="groups.displayData">
		<thead>
			<tr>
				<th colspan="3" style="vertical-align: top;">
					<input st-search="" placeholder="{{_('Search...')}}"
					       class="input-sm form-control" type="search"/>
				</th>
				<th>
					<button type="button"
					        class="btn pull-center waves btn-primary waves-effect waves-float"
					        ng-click="openGroupModal()">
						{{_('Add group')}}
					</button>
				</th>
			</tr>
			<tr>
				<th class="text-center" st-sort="id" width="1%">{{ _('#') }}</th>
				<th class="text-center" st-sort="name" width="15%">{{ _('Name')}}</th>
				<th class="text-center" st-sort="desc" width="75%">{{ _('Description')}}</th>
				<th class="text-center" width="5%"></th>
			</tr>


		</thead>
		<tbody>
			<tr data-ng-repeat="row in groups.displayData">
					<td>{[{ row.id }]}</td>
					<td>{[{ row.name }]}</td>
					<td>{[{ row.desc }]}</td>
					<td>
						<a ng-click="openGroupModal(row)" ng-hide="row.id === 1"
						   class="btn btn-default btn-xs">
							<span class="fa fa-pencil"></span>
						</a>
						<a ng-click="confirmRemoving(row, 'group')" ng-hide="row.id === 1"
						   class="btn btn-danger btn-xs">
							<span class="fa fa-trash"></span>
						</a>
					</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" st-pagination="" st-items-by-page="25" colspan="4">
				</td>
			</tr>
		</tfoot>
	</table>
</div>