<script type="text/ng-template" id="createUserModal.html">
	<div class="modal-header">
		<h3 class="modal-title" ng-if="!old_settings">
			{{_('Create new user')}}
		</h3>
	</div>
	<div class="modal-body">

		<form name="form" class="content-form form-horizontal">

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.username.$invalid && form.username.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Username')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="username"
					       placeholder="{{_('Username')}}"
					       ng-model="user_data.username" uniq-username required>

					<div class="val-error animate-show"
					     ng-show="form.username.$invalid && form.username.$dirty">
						<ul>
							<li ng-show="form.username.$error.required">{{_('this field is required')}}
							</li>
							<li ng-show="form.username.$error.duplicate">{{_('user with this username is already exist')}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.email.$invalid && form.email.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('E-mail')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="email"
					       placeholder="{{_('E-mail')}}"
					       ng-model="user_data.email" type="email" uniq-email required>

					<div class="val-error animate-show"
					     ng-show="form.email.$invalid && form.email.$dirty">
						<ul>
							<li ng-show="form.email.$error.required">{{_('this field is required')}}
							</li>
							<li ng-show="form.email.$error.email">{{_('this email is invalid')}}
							</li>
							<li ng-show="form.email.$error.duplicate">{{_('user with this email is already exist')}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.password.$invalid && form.password.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Password')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="password"
					       placeholder="{{_('password')}}"
					       ng-model="user_data.password" type="password"
					       data-ng-class="{'ng-invalid':form.confirmPassword.$error.match}"
					       required>

					<div class="val-error animate-show"
					     ng-show="form.password.$invalid && form.password.$dirty">
						<ul>
							<li ng-show="form.password.$error.required">{{_('this field is required')}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.passwordConfirm.$invalid && form.passwordConfirm.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Password repeat')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="passwordConfirm"
					       placeholder="{{_('password rep')}}"
					       ng-model="user_data.passwordConfirm" type="password"
					       match="user_data.password" required>

					<div class="val-error animate-show"
					     ng-show="form.passwordConfirm.$invalid && form.passwordConfirm.$dirty">
						<ul>
							<li ng-show="form.passwordConfirm.$error.required">{{_('this field is required')}}
							</li>
							<li ng-show="form.passwordConfirm.$error.match">{{_('passwords do not match!')}}
							</li>
						</ul>
					</div>
				</div>
			</div>


			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label">
					{{_('Role')}}
				</label>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<select class="btn waves btn-default dropdown-toggle waves-effect waves-float"
							ng-options="role.id as role.name for role in roles"
							ng-model="user_data.role">
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('First name')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" placeholder="{{_('new user name')}}"
					       ng-model="user_data.first_name">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Last name')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" placeholder="{{_('new user second name')}}"
					       ng-model="user_data.last_name">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Comment')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" placeholder="{{_('Comment')}}"
					       ng-model="user_data.description">
				</div>
			</div>


			<div class="form-group" style="height: 20px; padding: 0">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Groups')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<selectize config='selectizeConfig' options='groups'
					           ng-model="user_data.groups"></selectize>
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Image')}}
				</label>
				<div class="col-lg-10">
					<label class="btn btn-default btn-file">
						{{_('Browse')}}<input type="file" id="fileInput" style="display:none;"/>
					</label>
					<div class="row" style="padding-top: 3px;" ng-show="browsed">
						<div class="col-lg-3">
							<ui-cropper image="myImage"
							            result-image="myCroppedImage"
							            area-type="rectangle"
							            result-image-format="png"
							            area-min-size="{width:128, height:128}"
							            result-image-size="64"
							            change-on-fly="1"
							            style="min-height: 128px;min-width: 128px;">
							</ui-cropper>
						</div>
						<div class="col-lg-8"><img ng-src="{[{myCroppedImage}]}"/></div>
					</div>
				</div>
			</div>-->
		</form>
	</div>

	<div class="modal-footer">

		<!--<button class="btn btn-danger" role="alert" ng-show="adder.input.$error.required">-->
		<!--<div class="glyphicon glyphicon-exclamation-sign"></div>  {{_('Not all fields are filled')}}!-->
		<!--</button>-->
		<button popover-placement="top"
		        class="btn btn-primary" type="button" ng-click="ok(user_data)">{{_('OK')}}
		</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">{{_('Cancel')}}</button>
	</div>
</script>


<script type="text/ng-template" id="updateUserModal.html">
	<div class="modal-header">
		<h3 class="modal-title">
			{{_('Update user data')}}
		</h3>
	</div>
	<div class="modal-body">

		<form name="form" class="content-form form-horizontal">

			<div class="form-group" ng-if="user_data.id !== 1"
			     ng-class="{'form-group': true, 'has-error':form.username.$invalid && form.username.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Username')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="username"
					       placeholder="{{_('Username')}}"
					       ng-model="user_data.username" uniq-username required>

					<div class="val-error animate-show"
					     ng-show="form.username.$invalid && form.username.$dirty">
						<ul>
							<li ng-show="form.username.$error.required">{{_('this field is
								required')}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.email.$invalid && form.email.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Email')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="email"
					       placeholder="{{_('Email')}}"
					       ng-model="user_data.email" type="email" uniq-email required>

					<div class="val-error animate-show"
					     ng-show="form.email.$invalid && form.email.$dirty">
						<ul>
							<li ng-show="form.email.$error.required">{{_('this field is
								required')}}
							</li>
							<li ng-show="form.email.$error.email">{{_('this email is invalid')}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group" ng-if="user_data.id !== 1">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label">
					{{_('Role')}}
				</label>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<select class="btn waves btn-default dropdown-toggle waves-effect waves-float"
							ng-options="role.id as role.name for role in roles"
							ng-model="user_data.role">
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('First name')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" placeholder="{{_('new user name')}}"
					       ng-model="user_data.first_name">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Last name')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" placeholder="{{_('new user second name')}}"
					       ng-model="user_data.last_name">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Comment')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" placeholder="{{_('Comment')}}"
					       ng-model="user_data.description">
				</div>
			</div>


			<div class="form-group" style="height: 20px; padding: 0">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Groups')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<selectize config='selectizeConfig' options='groups'
					           ng-model="user_data.groups"></selectize>
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Image')}}
				</label>
				<div class="col-lg-4">
					<input type="file" id="fileInput"/>
				</div>
				<div class="col-lg-2">
					<div class="cropArea">
						<ui-cropper image="myImage"
						          result-image="myCroppedImage"
						          area-type="rectangle"
						          result-image-format="png"
						          area-min-size="{width:128, height:128}"
						          result-image-size="64">
						</ui-cropper>
					</div>
				</div>
				<div class="col-lg-4">
					<div><img ng-src="{[{myCroppedImage}]}"/></div>
				</div>
			</div>-->
		</form>
		<form name="passform" class="content-form form-horizontal">
			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label">{{_('Set new
					password')}}</label>
				<div>
					<div class="checkbox checkbox-danger" style="padding-top:7px;">
						<label>
							<input type="checkbox" ng-model="user_data.updatePass">
							<i></i>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="user_data.updatePass"
			     ng-class="{'form-group': true, 'has-error':passform.password.$invalid && passform.password.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Password')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="password"
					       placeholder="{{_('password')}}"
					       ng-model="user_data.password" type="password"
					       data-ng-class="{'ng-invalid':passform.confirmPassword.$error.match}"
					       required>

					<div class="val-error animate-show"
					     ng-show="passform.password.$invalid && passform.password.$dirty">
						<ul>
							<li ng-show="passform.password.$error.required">{{_('this field is
								required')}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group" ng-show="user_data.updatePass"
			     ng-class="{'form-group': true, 'has-error':passform.passwordConfirm.$invalid && passform.passwordConfirm.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Password repeat')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="passwordConfirm"
					       placeholder="{{_('password rep')}}"
					       ng-model="user_data.passwordConfirm" type="password"
					       match="user_data.password" required>

					<div class="val-error animate-show"
					     ng-show="passform.passwordConfirm.$invalid && passform.passwordConfirm.$dirty">
						<ul>
							<li ng-show="passform.passwordConfirm.$error.required">{{_('this field
								is required')}}
							</li>
							<li ng-show="passform.passwordConfirm.$error.match">{{_('passwords do
								not match!')}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="modal-footer">

		<!--<button class="btn btn-danger" role="alert" ng-show="adder.input.$error.required">-->
		<!--<div class="glyphicon glyphicon-exclamation-sign"></div>  {{_('Not all fields are filled')}}!-->
		<!--</button>-->
		<button popover-placement="top"
		        class="btn btn-primary" type="button" ng-click="ok(user_data)">{{_('OK')}}
		</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">{{_('Cancel')}}</button>
	</div>
</script>


<script type="text/ng-template" id="rolesModal.html">
	<div class="modal-header">
		<h3 class="modal-title" ng-show="!isUpdate">
			{{_('Add role')}}
		</h3>
		<h3 class="modal-title" ng-show="isUpdate">
			{{_('Update role')}}
		</h3>
	</div>
	<div class="modal-body" style="overflow-y: auto">

		<div class="row">
			<div class="form-group col-lg-12" ng-show="isRole">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Role name')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material"
					       placeholder="{{_('Role name')}}"
					       ng-model="roleName">

					<div class="val-error animate-show"
					     ng-show="error.rolename">
						<ul>
							<li>{{_('this field is required')}}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12">
				<div class="row">
					<div ng-repeat="module in ahierarchy">
						<div class="col-lg-6" ng-repeat="submodule in module.submodules">
							<div class="form-group row">
								<label class="col-lg-8 col-md-6 col-sm-4 control-label text-right">
									{[{ submodule.name }]}
								</label>
								<div class="col-lg-3 col-md-4 col-sm-6">
									<select class="btn waves btn-primary dropdown-toggle waves-effect waves-float"
											ng-options="lvl.id as lvl.name for lvl in get_submodule_lvls(submodule.lvls)"
											ng-model="access_map[submodule.id]">
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button popover-placement="top"
		        class="btn btn-primary" type="button" ng-click="ok()">{{_('OK')}}
		</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">{{_('Cancel')}}</button>
	</div>
</script>


<script type="text/ng-template" id="groupsModal.html">
	<div class="modal-header">
		<h3 class="modal-title" ng-show="!isUpdate">
			{{_('Add group')}}
		</h3>
		<h3 class="modal-title" ng-show="isUpdate">
			{{_('Update group')}}
		</h3>
	</div>
	<div class="modal-body">

		<form name="form" class="content-form form-horizontal">

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.name.$invalid && form.name.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Group name')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="name"
					       placeholder="{{_('Group name')}}"
					       ng-model="data.name" required>

					<div class="val-error animate-show"
					     ng-show="form.name.$invalid && form.name.$dirty">
						<ul>
							<li ng-show="form.name.$error.required">{{_('this field is
								required')}}
							</li>
						</ul>
					</div>
					<div ng-show="showRestoring">
						<label class="control-label">
							{{_('Group with this name was removed before. Do you want to restore it?')}}
						</label>
						<button class="btn btn-primary" type="button" ng-click="restore(data)">{{_('Restore')}}
						</button>
					</div>
				</div>
			</div>
		</form>


		<form name="form" class="content-form form-horizontal">

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Description')}}
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="desc"
					       placeholder="{{_('Description')}}"
					       ng-model="data.desc">
				</div>
			</div>
		</form>


	</div>
	<div class="modal-footer">

		<!--<button class="btn btn-danger" role="alert" ng-show="adder.input.$error.required">-->
		<!--<div class="glyphicon glyphicon-exclamation-sign"></div>  {{_('Not all fields are filled')}}!-->
		<!--</button>-->
		<button popover-placement="top"
		        class="btn btn-primary" type="button" ng-click="ok(data)">{{_('OK')}}
		</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">{{_('Cancel')}}</button>
	</div>
</script>
