<div id="roles" class="tab-pane fade">

	<form class="form-inline">
		<div class="form-group" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
			<button id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle>
				{{_('Setup modules')}} <span class="caret"></span>
			</button>
			<button type="button"
			        class="btn pull-center waves btn-default waves-effect waves-float"
			        ng-click="exportRoles('csv')" title="Экспорт в CSV">
				<span class="fa fa-table" aria-hidden="true"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
				<li ng-repeat="module in accessModules">
					<div class="row" style="padding-left: 20px; padding-right: 20px; max-width: 300px">
						<div class="col-md-12 col-xs-12" style="padding-left: 5px; padding-right: 5px;">
							<div class="checkbox checkbox-danger" style="margin-top: 5px; margin-bottom: 5px;">
							  <label>
								<input type="checkbox" ng-model="module.displayed" ng-change="setDisplayedModules()">
								<i></i>
								{[{ module.name }]}
							  </label>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="pull-right form-group">
			<button type="button"
					class="btn pull-center waves btn-primary waves-effect waves-float"
					ng-click="openAccessMap()">
				{{_('Add role')}}
			</button>
		</div>

	</form>

	<table class="table table-condensed text-center"
	       st-set-filter="accessMapFilter"
	       st-safe-src="roles.items" st-table="roles.displayData">
		<thead>
			<tr>
				<th style="width: 1%; cursor: pointer;" st-sort="id" st-sort-default="true">{{ _('#') }}</th>
				<th class="text-left" style="width: 98%; cursor: pointer;" st-sort="name">Имя роли</th>

				<th class="text-center"
				    style="white-space: nowrap; max-width: 60px; overflow: hidden; text-overflow: ellipsis;"
				    data-toggle="tooltip" title="{[{ amodule.name }]}"
				    ng-repeat="amodule in displayedModules">
					{[{amodule.name}]}
				</th>
				<th class="text-center" style="min-width: 80px;"></th>
			</tr>
			<tr>
				<th class="text-center"></th>
				<th>
					<input st-search="name" placeholder="{{_('Search...')}}"
					       class="input-sm form-control" type="search"/>
				</th>

				<th class="text-center" ng-repeat="amodule in displayedModules" >
					<select st-search="{[{amodule.id}]}" class="btn waves btn-default dropdown-toggle waves-effect waves-float">
						<option value="">Все</option>
						<option value="0">N/A</option>
						<option value="1">R</option>
						<option value="3" ng-if="amodule.lvls >=2">RW</option>
						<option value="2" ng-if="amodule.lvls >=2">W</option>
					</select>
				</th>

				<th class="text-center">
				</th>
			</tr>

		</thead>


		<tbody>
			<tr data-ng-repeat="row in roles.displayData">
				<td>{[{ row.id }]}</td>
				<td class="text-left">{[{ row.name }]}</td>

				<td class="text-center"  ng-repeat="amodule in displayedModules">
					<h3 style="margin-top: 8px;">
						<span ng-if="row.access_map[amodule.id] === 0">
							N/A
						</span>
						<span  ng-if="row.access_map[amodule.id] === 1">
							R
						</span>
						<span ng-if="row.access_map[amodule.id] === 2">
							W
						</span>
					</h3>
				</td>

				<td>
					<a ng-click="openAccessMap(row, 'role')" ng-hide="row.id === 1"
					   class="btn btn-default btn-xs">
						<span class="fa fa-pencil"></span>
					</a>
					<a ng-click="confirmRemoving(row, 'role')" ng-hide="row.id === 1"
					   class="btn btn-danger btn-xs">
						<span class="fa fa-trash"></span>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" st-pagination="" st-items-by-page="25" colspan="100%">
				</td>
			</tr>
		</tfoot>
	</table>
</div>