<div id="users" class="tab-pane fade in active table-responsible">
	<table class="table table-striped" st-safe-src="users.items" st-table="users.displayData">
		<thead>
			<tr>
				<th colspan="11">
					<input st-search placeholder="{{_('Search...')}}"
					       class="form-control" 
					       type="search"/>
				</th>
				<th colspan="1">
					<button type="button"
					        class="btn waves btn-primary waves-effect waves-float pull-right"
					        ng-click="openUserModal()">
						{{_('Add user')}}
					</button>
				</th>
			</tr>
			<tr>
				<th st-sort="id" st-sort-default="true" style="width: 2%;" class="text-center">{{ _('#') }}</th>
				<!--<th style="width: 2%;" class="text-center"></th>-->
				<th st-sort="username" class="col-lg-1">{{ _('Username')}}</th>
				<th st-sort="email" class="col-lg-2">{{ _('E-mail')}}</th>
				<th st-sort="first_name" class="col-lg-1">{{_('first name')}}</th>
				<th st-sort="last_name" class="col-lg-1">{{_('second name')}}</th>
				<th st-sort="last_login" class="col-lg-1">{{_('last logged')}}</th>
				<th st-sort="role" class="col-lg-1">{{_('role')}}</th>
				<th >{{_('groups')}}</th>
				<th st-sort="description" class="col-lg-1">{{_('comment')}}</th>
				<th st-sort="active" class="text-center" style="width: 1%">{{ _('status')}}</th>
				<th style="width: 100px"></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="row in users.displayData"  ng-if="row.id >= 1" ng-class="row.active ? 'user-active' : 'user-inactive'">
				<td class="text-center">{[{ row.id }]}</td>
				<!--<td class="text-center">
					<img ng-show="row.image" ng-src="file/{[{ row.image }]}" height="32" width="32">
					<img ng-hide="row.image" src="{{url_for('static', filename='img/default-user-24-24.png')}}">
				</td>-->
				<td>
					{[{ row.username }]}
				</td>
				<td>{[{ row.email }]}</td>
				<td>{[{ row.first_name }]}</td>
				<td>{[{ row.last_name }]}</td>
				<td>{[{ row.last_login | date:'HH:mm:ss dd-MM-yyyy' }]}</td>
				<td>{[{ getRoleName(row.role) }]}</td>
				<td>
					<span class="label label-default" ng-repeat-start="gr in getGroups(row.groups)">
						{[{gr}]}
					</span>
					<span ng-repeat-end>&nbsp;</span>
				</td>
				<td>{[{ row.description }]}</td>
				<td class="text-center">
					<span class="badge badge-success" ng-if="row.active">{{_('active')}}</span>
					<span class="badge badge-danger" ng-if="!row.active">{{_('disabled')}}</span>
				</td>
				<td class="text-center">
					<div ng-show="row.active">
						<a ng-click="openUserModal(row)" ng-hide="row.id < 1"
						   class="btn btn-default btn-xs">
							<span class="fa fa-pencil"></span>
						</a>
						<a ng-click="openAccessMap(row, 'user')" ng-hide="row.id < 2"
						   class="btn btn-default btn-xs">
							<span class="fa fa-cogs"></span>
						</a>
						<a ng-click="confirmRemoving(row, 'user')" ng-hide="row.id < 2"
						   class="btn btn-danger btn-xs">
							<span class="fa fa-trash"></span>
						</a>
					</div>
					<div ng-show="!row.active">
						<a ng-click="restoreUser(row)" ng-hide="row.id < 1"
						   class="btn btn-default btn-xs">
							{{ _('Restore') }}
						</a>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" st-pagination="" st-items-by-page="25" colspan="11">
				</td>
			</tr>
		</tfoot>
	</table>
</div>