
<div class="modal-header" >
	<h3 class="modal-title">{{_('Event information')}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<dl class="dl-horizontal" style="margin-bottom: 0px;">
				<dt>{{ base.children.event_id.label }}</dt>
				<dd>{{ base.children.event_id.value }}</dd>
			</dl>
		</div>
		{% if 'event_type' in  base.children %}
		<div class="col-lg-12 col-md-12">
			<dl class="dl-horizontal" style="margin-bottom: 0px;">
				<dt>{{ base.children.event_type.label }}</dt>
				<dd>{{ base.children.event_type.value }}</dd>
			</dl>
		</div>
		{%endif%}
		<div class="col-lg-6 col-md-6">
			<dl class="dl-horizontal">
				<dt>{{ base.children.plugin_id.label }}</dt>
				<dd>{{ base.children.plugin_id.value }}</dd>
				<dt>{{ base.children.plugin_sid.label }}</dt>
				<dd>{{ base.children.plugin_sid.value }}</dd>
			</dl>
		</div>
		<div class="col-lg-6 col-md-6">
			<dl class="dl-horizontal">
				{% if 'timestamp' in  base.children %}
					<dt>{{ base.children.timestamp.label }}</dt>
					<dd>{{ base.children.timestamp.value | datetimeformat }}</dd>
				{%endif%}
				{% if 'timestamp_event' in  base.children %}
					<dt>{{ base.children.timestamp_event.label }}</dt>
					<dd>{{ base.children.timestamp_event.value  | datetimeformat }}</dd>
				{%endif%}
			</dl>
		</div>

	{% if net %}
	<div class="col-lg-12 col-md-12">
		<label style="color: #63a8eb;margin-bottom: 0px;">{{ _('Network info')}}</label>
	</div>
	<hr style="width: 100%; color: #63A8EB; height: 1px; background-color:#63A8EB; margin-top:0px">
	<div class="col-lg-12 col-md-12">
		<dl class="dl-horizontal" style="margin-bottom: 0px;">
		{% if 'proto' in net.children %}
			<dt>{{ net.children.proto.label }}</dt>
			<dd>
				{{ net.children.proto.value }}
			</dd>
		{% endif %}
		</dl>
	</div>
	<div class="col-lg-6 col-md-6">
		<dl class="dl-horizontal">
			{% if 'ip_dst' in net.children %}
				<dt>{{ net.children.ip_dst.label }}</dt>
				<dd>
					{{ net.children.ip_dst.value }}
				</dd>
			{% endif %}
			{% if 'port_dst' in net.children %}
				<dt>{{ net.children.port_dst.label }}</dt>
				<dd>
					{{ net.children.port_dst.value }}
				</dd>
			{% endif %}
			{% if 'host_dst' in net.children %}
				<dt>{{ net.children.host_dst.label }}</dt>
				<dd>
					{{ net.children.host_dst.value }}
				</dd>
			{% endif %}
			{% if 'mac_dst' in net.children %}
				<dt>{{ net.children.mac_dst.label }}</dt>
				<dd>
					{{ net.children.mac_dst.value }}
				</dd>
			{% endif %}
		</dl>
	</div>
	<div class="col-lg-6 col-md-6">
		<dl class="dl-horizontal">
			{% if 'ip_src' in  net.children %}
				<dt>{{ net.children.ip_src.label }}</dt>
				<dd>
					{{ net.children.ip_src.value }}
				</dd>
			{% endif %}
			{% if 'port_src' in  net.children %}
				<dt>{{ net.children.port_src.label }}</dt>
				<dd>
					{{ net.children.port_src.value }}
				</dd>
			{% endif %}
			{% if 'host_src' in  net.children %}
				<dt>{{ net.children.host_src.label }}</dt>
				<dd>
					{{ net.children.host_src.value }}
				</dd>
			{% endif %}
			{% if 'mac_src' in  net.children %}
				<dt>{{ net.children.mac_src.label }}</dt>
				<dd>
					{{ net.children.mac_src.value }}
				</dd>
			{% endif %}
		</dl>
	</div>
	{% endif %}


	{% for tree in other %}
		<div class="col-lg-12 col-md-12">
			<label style="color: #63a8eb;margin-bottom: 0px;">{{tree.label}}</label>
		</div>
		<hr style="width: 100%; color: #63A8EB; height: 1px; background-color:#63A8EB; margin-top:0px">
		<div class="col-lg-12 col-md-12">
			<dl class="dl-horizontal">
				{% for name, data in tree.children.iteritems() %}
					<dt>{{data.label}}</dt>
					<dd>{{data.value}}</dd>
				{% endfor %}
			</dl>
		</div>
	{% endfor %}


	<div class="col-lg-12 col-md-12">
		<label style="color: #63a8eb;margin-bottom: 0px;">{{_('Additional info')}}</label>
	</div>
	<hr style="width: 100%; color: #63A8EB; height: 1px; background-color:#63A8EB; margin-top:0px">

	{% for name, data in base.children.iteritems() %}
		{% if name not in ['event_id', 'event_type', 'timestamp', 'data', 'plugin_id', 'plugin_sid', 'timestamp_event'] %}
		<div class="col-lg-12 col-md-12">
			<dl class="dl-horizontal" style="margin-bottom: 0px;">
				<dt>{{data.label}}</dt>
				<dd>{{data.value}}</dd>
			</dl>
		</div>
		{% endif %}
	{% endfor %}

	{% if base.children.plugin_id.value == '1011' %}
		<div class="col-lg-2 col-md-2">
			{{_('Package content')}}
		</div>
		<div class="col-lg-10 col-md-10">
			<div class="row">
				<div class="col-lg-12">
					Get PCAP file:
					<a class="btn btn-xs btn-default" href="/event/getpcap/{{event_data.event_id}}"
					   role="button">Download</a>
				<div class="col-lg-12">
				</div>
				<div>
					<div style='white-space: pre-wrap; background-color: #F9F9F9;
					font-family: Menlo,Monaco,Consolas,"Courier New",monospace; word-wrap: break-word;'>
						{{hex_dump}}
					</div>
				</div>

			</div>
		</div>
	{% else %}
	<div class="col-lg-12 col-md-12">
		<dl class="dl-horizontal">
			<dt>{{base.children.data.label}}</dt>
			<dd>
				<label style='background-color: #F9F9F9; word-wrap: break-word; width:100%'>
					{{base.children.data.value}}
				</label>
			</dd>
		</dl>
	</div>
	{% endif %}

	</div>
</div>
