<div class="row">
	<div class="text-right">
		<button class="btn waves  waves-effect" ng-click="block_unblock_gridster()"
		        ng-class="enable_gridster ? 'btn-danger' : 'btn-default'">
			{[{enable_gridster ? '{{_('Disable')}}' : '{{_('Enable')}}' }]} {{_('modify')}}
		</button>
		<button class="btn waves btn-primary waves-effect" ng-click="openCreator('lg')">{{_('Add')}}
		</button>
	</div>
</div>
<hr style="width: 100%; color: #63A8EB; height: 1px; background-color:#63A8EB; margin-top:0px; margin-bottom: 0px;"/>
<div gridster="gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in widgets">
			<widget-body wtype="{[{widget.settings.widgetType}]}"></widget-body>
		</li>
	</ul>
</div>

<script type="text/ng-template" id="createUpdateModal.html">
	<div class="modal-header">
		<h3 class="modal-title" ng-if="!old_settings">
			{{_('Create new widget')}}
		</h3>
		<h3 class="modal-title" ng-if="old_settings">
			{{_('Update widget')}}
		</h3>
	</div>
	<div class="modal-body">

		<form name="form" class="content-form form-horizontal" novalidate>

			<div class="form-group"
			     ng-class="{'form-group': true, 'has-error':form.name.$invalid && form.name.$dirty}">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label danger">
					{{_('Widget Name')}}*
				</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="name"
					       placeholder="{{_('some name')}}"
					       ng-model="widget_settings.name" required>

					<div class="val-error animate-show"
					     ng-show="form.name.$invalid && form.name.$dirty">
						<ul>
							<li ng-show="form.name.$error.required">
								{{_('this field is required')}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label">{{_('Description')}}</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<input class="form-control material" name="desc"
					       placeholder="{{_('some text')}}"
					       ng-model="widget_settings.description">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div widget-config-left></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div widget-config-right></div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 col-md-2 col-sm-3 control-label">{{_('Load query')}}</label>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<div class="input-group">
						<input-dropdown style="width:100%;" selected-item="queryObject"
						                default-dropdown-items="dropdown"
						                allow-custom-input="true"
						                filter-list-method="filterObjectList(userInput)"
						                item-selected-method="callbackQuery(item)"></input-dropdown>
						<span class="input-group-btn">
							<button class="btn btn-default inverted-danger btn-xs" type="button"
							        ng-click="restore()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						</span>
					</div>
				</div>
			</div>
		</form>
		<div style="background-color:#f5f5f5;" ng-disabled="true">
			<!--<div id="builder"></div>-->
		</div>

	</div>
	<div class="modal-footer">

		<!--<button class="btn btn-danger" role="alert" ng-show="adder.input.$error.required">-->
		<!--<div class="glyphicon glyphicon-exclamation-sign"></div>  {{_('Not all fields are filled')}}!-->
		<!--</button>-->
		<button popover-placement="top"
		        class="btn btn-primary" type="button" ng-click="ok(widget_settings)">{{_('OK')}}
		</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">{{_('Cancel')}}</button>
	</div>

	{% include 'included_scripts/query_builder.html' %}
</script>

<script type="text/ng-template" id="createWidgetWizard.html">
	<div class="modal-body">
		<wizard name="{[{wizard.wizardConfig.name}]}"
		        edit-mode="wizard.widgetConfirmed" indicators-position="top">
			<wz-step wz-title="Название и тип" canexit="wizard.stepOne">
				<div class="wizard-content">
					<div class="row">
						<div class="col-lg-4 col-md-4">
							<div class="list-group">
								<a href=""
								   class="list-group-item"
								   ng-repeat="item in wizard.items"
								   ng-click="wizard.graphSelect(item)">
									{[{ item.name }]}
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<form name="form" class="content-form form-horizontal name-form"
							      novalidate>
								<div class="form-group"
								     ng-class="{'form-group': true, 'has-error':form.name.$invalid && wizard.name.$dirty}">
									<label class="col-lg-3 col-md-3 col-sm-4 control-label danger">
										{{_('Widget Name')}}*
									</label>
									<div class="col-lg-9 col-md-9 col-sm-8">
										<input class="form-control material" name="name"
										       placeholder="{{_('some name')}}"
										       ng-model="wizard.widget_settings.name" required>

										<div class="val-error animate-show"
										     ng-show="form.name.$invalid && wizard.name.$dirty">
											<ul>
												<li ng-show="form.name.$error.required">
													{{_('this field is required')}}
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 col-md-3 col-sm-4 control-label">{{_('Description')}}</label>
									<div class="col-lg-9 col-md-9 col-sm-8">
										<input class="form-control material" name="desc"
										       placeholder="{{_('some text')}}"
										       ng-model="wizard.widget_settings.description">
									</div>
								</div>
								<!--<div class="form-group"
									 ng-class="{'form-group': true, 'has-error':form.name.$invalid && wizard.name.$dirty}">
									<label class="col-lg-3 col-md-3 col-sm-4 control-label danger">
										Цветовая схема
									</label>
									<div class="col-lg-9 col-md-9 col-sm-8">
										<select class="form-control material"
												ng-model="wizard.colorScheme"
												ng-change="">
											<option value="light">Белая</option>
											<option value="dark">Темная</option>
										</select>

									</div>
								</div>-->
								<div style="height: 100px"></div>
							</form>
							<div class="row">
								<div class="col-lg-12">
									<highchart config="wizard.chart"
									           class="chart"
									           style="height:100%;">
									</highchart>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<button type="submit" class="btn btn-default"
						        ng-click="wizard.cancel()">
							Отмена
						</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="pull-right">
							<button type="submit" class="btn btn-primary" wz-next
							        ng-click="wizard.setQb(wizard.widget_settings.query_body)">
								Далее
							</button>
						</div>
					</div>
				</div>
			</wz-step>
			<wz-step wz-title="Данные" canexit="wizard.rulesValidation">
				<div class="wizard-content">
					<div class="row">
						<div class="col-lg-12">
							<form name="form" class="content-form form-horizontal bof-form" novalidate>
								<div class="form-group"
								     ng-class="{'has-error': wizard.bof.$dirty}">
									<div class="col-lg-12">
										<div class="radio radio-success radio-label-line-height"
										     ng-click="wizard.bofSelect(wizard.widget_settings.query_body)">
											<label>
												<input type="radio" name="source"
												       ng-value="true"
												       ng-model="wizard.sourceSwitch">
												<i></i>
												База фактов
											</label>
										</div>
									</div>
									<label class="col-lg-2 col-md-2 col-sm-3 control-label"
									       ng-show="wizard.sourceSwitch">{{_('Load query')}}</label>
									<div class="col-lg-10 col-md-10 col-sm-9"
									     ng-show="wizard.sourceSwitch">
										<div class="input-group facts-base">
											<input-dropdown style="width:100%;"
											                selected-item="wizard.bofObject"
											                default-dropdown-items="wizard.factBaseLists"
											                allow-custom-input="true"
											                filter-list-method="wizard.filterObjectList(userInput)"
											                item-selected-method="wizard.factBaseSelector(item)"></input-dropdown>
								<span class="input-group-btn">
									<button class="btn btn-default inverted-danger btn-xs"
									        type="button"
									        ng-click="wizard.restoreBof()">
										<span class="glyphicon glyphicon-remove"
										      aria-hidden="true"></span>
									</button>
								</span>
										</div>
										<div class="col-lg-2 val-error animate-show"
										     ng-show="wizard.bof.$dirty">
											<ul>
												<li ng-show="wizard.bof.$dirty">
													{{_('invalid data')}}
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="form-group" style="position: relative; z-index: 2000">
									<div class="col-lg-12">
										<div class="radio radio-success radio-label-line-height"
										     ng-click="wizard.ebSelect(wizard.widget_settings.query_body)">
											<label>
												<input type="radio" name="source"
												       ng-value="false"
												       ng-model="wizard.sourceSwitch">
												<i></i>
												Конструктор запросов
											</label>
										</div>
									</div>
									<label class="col-lg-2 col-md-2 col-sm-3 control-label"
									       ng-hide="wizard.sourceSwitch">{{_('Load query')}}</label>
									<div class="col-lg-10 col-md-10 col-sm-9"
									     ng-hide="wizard.sourceSwitch">
										<div class="input-group event-base">
											<input-dropdown style="width:100%;"
											                selected-item="wizard.queryObject"
											                default-dropdown-items="wizard.dropdown"
											                allow-custom-input="true"
											                filter-list-method="wizard.filterObjectList(userInput)"
											                item-selected-method="wizard.callbackQuery(item)"></input-dropdown>
						<span class="input-group-btn">
							<button class="btn btn-default inverted-danger btn-xs" type="button"
							        ng-click="wizard.restoreEb()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						</span>
										</div>
									</div>
									<div class="col-lg-11 col-md-11 col-sm-10 pull-right"
									     ng-hide="wizard.sourceSwitch">
										<query-builder filters="wizard.qbFilters"
										               lang="wizard.qbLanguage"
										               plugins="wizard.qbPlugins">
										</query-builder>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<button type="submit" class="btn btn-default"
						        ng-click="wizard.cancel()">
							Отмена
						</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="pull-right">
							<button type="submit" class="btn btn-default" wz-previous>Назад
							</button>
							<button type="submit" class="btn btn-primary" wz-next
							        ng-click="wizard.stepTwo(wizard.widget_settings.query_body)">
								Далее
							</button>
						</div>
					</div>
				</div>
			</wz-step>
			<wz-step wz-title="Параметры" canexit="wizard.ok">
				<div class="wizard-content">
					<div class="row">
						<div class="col-lg-12">
							<form name="form" class="content-form form-horizontal config-form"
							      novalidate>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group first-line"
										     ng-class="{'form-group': true, 'has-error': form.period.$invalid && wizard.period.$dirty}">
											<label class="col-lg-4 col-md-4 col-sm-6 control-label">{{_('Period(sec)')}}*
											<span class="fa fa-question-circle"
											      title="Период обновления виджета на странице(в секундах)"></span></label>
											<div class="col-lg-4 col-md-5 col-sm-6">
												<input class="form-control material period"
												       type="number"
												       name="period"
												       ng-model="wizard.widget_settings.update_period"
												       ng-focus="wizard.inputsInit()"
												       min="5" required>
												<div class="val-error animate-show"
												     ng-show="form.period.$invalid && wizard.period.$dirty">
													<ul>
														<li ng-show="form.period.$error.required">
															{{_('this field is required')}}
														</li>
														<li ng-show="form.period.$error.min">
															{{_('minimum value is 5')}}
														</li>
														<li ng-show="form.period.$error.number">
															{{_('value must be a number')}}
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="form-group second-line" ng-hide="(wizard.widget_settings.graph_type === 'polar' ||
									       wizard.widget_settings.graph_type === 'pie' || wizard.widget_settings.graph_type === 'pie3d')?true:false"
										     ng-class="{'form-group': true, 'has-error':form.duration.$invalid && wizard.duration.$dirty}">
											<label class="col-lg-4 col-md-4 col-sm-6 control-label">{{_('Duration(sec)')}}*
											<span class="fa fa-question-circle"
											      title="Временной интервал, за который отображаются события(в секундах)"></span></label>
											<div class="col-lg-4 col-md-5 col-sm-6">
												<input class="form-control material duration"
												       type="number"
												       name="duration"
												       ng-model="wizard.widget_settings.plot_duration"
												       min="5"
												       required
												       ng-disabled="wizard.widget_settings.graph_type === 'polar' ||
									       wizard.widget_settings.graph_type === 'pie'">
												<div class="val-error animate-show"
												     ng-show="+wizard.widget_settings.plot_duration < +wizard.widget_settings.update_period">
													<ul>
														<li ng-show="(+wizard.widget_settings.plot_duration < +wizard.widget_settings.update_period) && wizard.duration.$dirty">
															{{_('duration must be >= period')}}
														</li>
													</ul>
												</div>
												<div class="val-error animate-show"
												     ng-show="form.duration.$invalid && wizard.duration.$dirty">
													<ul>
														<li ng-show="form.duration.$error.required">
															{{_('this field is required')}}
														</li>
														<li ng-show="form.duration.$error.min">
															{{_('minimum value is 5')}}
														</li>
														<li ng-show="form.duration.$error.number">
															{{_('value must be a number')}}
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group first-line">
											<label class="col-lg-5 col-md-5 col-sm-6 control-label">
												{{_('Show delta')}} <span
													class="fa fa-question-circle"
													title="Отображать относительное количество событий"></span></label>
											<div class="col-lg-5 col-md-4 col-sm-6">
												<div class="checkbox checkbox-danger"
												     style="padding-top:7px;">
													<label>
														<input type="checkbox"
														       ng-model="wizard.widget_settings.show_delta"
														       ng-true-value="1" ng-false-value="0">
														<i></i>
													</label>
												</div>
											</div>
										</div>
										<div class="form-group second-line"
										     ng-hide="((wizard.widget_settings.graph_type === 'line') ||
                                                wizard.widget_settings.graph_type === undefined ||
                                                wizard.widget_settings.graph_type === 'facetedLine'||
                                                wizard.widget_settings.graph_type === 'area')?true:false">
											<label class="col-lg-5 col-md-5 col-sm-6 control-label">
												{{_('Sort Data')}} <span
													class="fa fa-question-circle"
													title="Области на графике будут отображаться в порядке увеличения количества событий"></span></label>
											<div class="col-lg-5 col-md-4 col-sm-6">
												<div class="checkbox checkbox-danger"
												     style="padding-top:7px;">
													<label>
														<input type="checkbox"
														       ng-model="wizard.widget_settings.sort"
														       ng-true-value="1" ng-false-value="0">
														<i></i>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="facet-nesting" ng-hide="((wizard.widget_settings.graph_type === 'line') ||
                                    wizard.widget_settings.graph_type === undefined ||
                                    wizard.widget_settings.graph_type === 'area')?true:false">
									<div class="margin-top-ten">
										<div class="row"
										     ng-repeat="level in wizard.facetsNestingLevel">
											<ng-form name="innerForm">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group"
												     ng-class="{'form-group': true, 'has-error': wizard.widget_settings.graph_type !== 'line' &&
                                    wizard.widget_settings.data_type === 'event_id' &&
                                    wizard.widget_settings.graph_type !== undefined && !wizard.facetTypeErr[level.id]}">
													<label class="col-lg-4 col-md-4 col-sm-6 control-label">{{_('Data type')}} <span
																class="fa fa-question-circle"
																title="Поле, по которому будут сгруппированы события"></span></label>
													<div class="col-lg-4 col-md-5 col-sm-6">
														<select class="btn waves btn-primary col-lg-12 col-md-12 col-sm-12
                                    dropdown-toggle waves-effect waves-float dataTypeSelect"
														        ng-options="item.name for item in level.facetFields track by item.id"
														        name="dataType"
														        ng-model="wizard.facetItems[level.id]"
														        ng-disabled="((wizard.widget_settings.graph_type === 'line') ||
                                    wizard.widget_settings.graph_type === undefined)?true:false"
														        ng-class="(wizard.widget_settings.graph_type !== 'line' &&
                                    wizard.widget_settings.graph_type !== undefined &&
                                    !wizard.facetTypeErr[level.id])?'btn-danger':null">
															<option value=""
															        ng-show="(wizard.widget_settings.data_type
                                        === undefined)?true:false"
															        ng-selected="wizard.widget_settings.graph_type === 'line'">
																{{_('Data select')}}
															</option>
														</select>
														<!--<span ng-show="!showGraphConfirm"-->
														<!--class="glyphicon glyphicon-remove form-control-feedback"  style="color:red"></span>-->
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group"
												     ng-class="{'form-group': true, 'has-error':innerForm.ecount.$invalid && !wizard.facetCountErr[level.id]}">
													<label class="col-lg-5 col-md-5 col-sm-6 control-label">{{_('Events count')}}* <span
																class="fa fa-question-circle"
																title="Количество отображаемых групп событий"></span></label>
													<div class="col-lg-4 col-md-4 col-sm-6">
														<input class="form-control material ecount"
														       type="number"
														       name="ecount"
														       ng-model="wizard.facetCounts[level.id]"
														       min="1" required
														       ng-disabled="((wizard.widget_settings.graph_type === 'line') ||
                                    wizard.widget_settings.graph_type === undefined)?true:false">
														<div class="val-error animate-show"
														     ng-show="!wizard.facetCountErr[level.id]">
															<ul>
																<li ng-show="innerForm.ecount.$error.required">
																	{{_('this field is required')}}
																</li>
																<li ng-show="innerForm.ecount.$error.min">
																	{{_('minimum value is 1')}}
																</li>
																<li ng-show="innerForm.ecount.$error.number">
																	{{_('value must be a number')}}
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											</ng-form>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 facet-btns"
					     ng-hide="((wizard.widget_settings.graph_type === 'line') ||
                                    wizard.widget_settings.graph_type === undefined ||
                                    wizard.widget_settings.graph_type === 'area')?true:false">
						<a ng-show="wizard.facetsNestingLevel.length == 1"
						   class="btn btn-success btn-xs" href="#"
						   title="Добавить уровень вложенности"
						   ng-click="wizard.addNestingLevel()">
							<span class="fa fa-plus"></span>
						</a>
						<a ng-show="wizard.facetsNestingLevel.length === 2"
						   class="btn btn-xs btn-danger" title="Удалить уровень вложенности"
						   ng-click="wizard.deleteNestingLevel()">
							<span class="fa fa-minus"></span>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<button class="btn btn-default" type="button"
						        ng-click="wizard.cancel()">
							{{_('Cancel')}}
						</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="pull-right">
							<button type="submit" class="btn btn-default" wz-previous>Назад
							</button>
							<button class="btn btn-primary" type="submit" wz-next>Далее
							</button>
						</div>
					</div>
				</div>
			</wz-step>
			<wz-step wz-title="Результат">
				<div class="wizard-content">
					<div class="row">
						<div class="col-lg-12">
							<table class="table table-hover table-striped">
								<thead>
								<tr>
									<th></th>
									<th>Параметр</th>
									<th>Значение</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td></td>
									<td>Тип графика</td>
									<td>{[{wizard.graph_type}]}</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>Источник</td>
									<td>{[{wizard.resource}]}</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>{{_('Period(sec)')}}</td>
									<td>{[{wizard.widget_settings.update_period}]}</td>
									<td></td>
								</tr>
								<tr ng-hide="(wizard.widget_settings.graph_type === 'polar' ||
									       wizard.widget_settings.graph_type === 'pie')?true:false">
									<td></td>
									<td>{{_('Duration(sec)')}}</td>
									<td>{[{wizard.widget_settings.plot_duration}]}</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>{{_('Show delta')}}</td>
									<td>{[{wizard.delta}]}</td>
									<td></td>
								</tr>
								<tr ng-hide="((wizard.widget_settings.graph_type === 'line') ||
                                                wizard.widget_settings.graph_type === undefined ||
                                                wizard.widget_settings.graph_type === 'facetedLine'||
                                                wizard.widget_settings.graph_type === 'area')?true:false">
									<td></td>
									<td>{{_('Sort Data')}}</td>
									<td>{[{wizard.sort}]}</td>
									<td></td>
								</tr>
								<tr ></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<button class="btn btn-default" type="button"
						        ng-click="wizard.cancel()">
							{{_('Cancel')}}
						</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="pull-right">
							<button type="submit" class="btn btn-default" wz-previous>Назад
							</button>
							<button class="btn btn-primary" type="submit" wz-next
							        ng-click="wizard.confirmStep()">{[{wizard.createButtonText}]}
							</button>
						</div>
					</div>
				</div>
			</wz-step>
		</wizard>
	</div>
</script>

<script type="text/ng-template" id="dialog.html">
	<div class="on-white modal-header">
		<div class="pull-right">
			<span class="glyphicon glyphicon-remove" style="cursor: pointer"
			      ng-click="cancel()"></span>
		</div>
		<div class="text-left">
			<h4 class="modal-title">Удаление виджета</h4>
		</div>
	</div>
	<div class="modal-body">
		<span class="on-white text-center">Удалить виджет?</span>
	</div>
	<div class="modal-footer text-center">
		<button popover-placement="top"
		        class="btn btn-default" ng-click="cancel()" type="button">Отмена
		</button>
		<button class="btn btn-danger delOk" ng-click="remove()" type="button">Удалить</button>
	</div>
</script>

<script type="text/ng-template" id="standartWBT.html">
	<div style="height:100% " ng-controller="CustomWidgetCtrl">
		<!--<div class="panel panel-info" style="height:100%; overflow: hidden;"
				  ng-show="data.errorMessage">-->
		<div ng-view class="panel" style="height:100%; overflow: hidden;">
			<div class="panel-heading blue-bg" ng-class="(data.errorMessage)?data.errorPanel:null"
			     style="padding-bottom: 0;"
			     data-toggle="tooltip" data-placement="top" title="{[{ widget.settings.name }]}">

				<div class="content-title i-block">
					<h4 class="zero-m widget-hidden-title">{[{ widget.settings.name }]}</h4>
					<div class="content-tools i-block pull-right">

						<a class="on-white" title="{{_('Export into pdf')}}"
						   ng-href="widget/report/{[{widget.settings.uuid}]}">
							<i class="fa fa-file-pdf-o"></i>
						</a>
						<a class="on-white" title="{{_('Show query')}}"
						   ng-click="goToSearch()">
							<i class="fa fa-th-list"></i>
						</a>
						<a class="close-btn on-white" title="{{_('Open settings')}}"
						   ng-click="openSettings(widget)"><i class="fa fa-cog"></i></a>
						<a class="close-btn on-white" title="{{_('Remove widget')}}"
						   ng-click="deleteWidget()">
							<i class="fa fa-times"></i>
						</a>

					</div>
				</div>
			</div>
			<!--<div class="panel-body" style="height:80%;"  block-ui="{[{widget.uuid + widget.col + widget.row}]}">-->
			<div class="panel-body widget-gr-height"
			     ng-class="(data.errorMessage)?data.panelDisable:null"
			     style="padding: 20px;">
				<highchart ng-show="inited"
				           config="chart"
				           class="chart"
				           style="height:100%;">
				</highchart>
				<!--                 <div  style="display:table-cell; vertical-align:middle; text-align:center">
									<img src="{{ url_for('static', filename='img/335.gif') }}">
								</div> -->
				<div ng-hide="inited" id="over">
					<span class="Centerer"></span>
					<img class="Centered" src="{{ url_for('static', filename='img/335.gif') }}"/>
				</div>

				<!--<canvas id="line" class="chart chart-line" chart-data="data"-->
				<!--chart-labels="labels" chart-legend="true" chart-series="series"-->
				<!--chart-click="onClick" chart-options="options">-->
				<!--</canvas>-->
			</div>
		</div>
	</div>
	</div>
</script>

<script type="text/ng-template" id="gridWBT.html">

	<div style="height:100%" ng-controller="CustomWidgetCtrl">
		<div class="panel panel-info" style="height:100% ">
			<div class="panel-heading">

				<div class="content-title i-block">
					<h4 class="zero-m">{[{ widget.settings.name }]}</h4>
					<div class="content-tools i-block pull-right">
						<a class="repeat-btn" title="settings" ng-click="openSettings(widget)">
							<i class="fa fa-cog"></i>
						</a>
						<a class="close-btn" title="Remove widget" ng-click="remove(widget)">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="panel-body"></div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="graphWBT.html">
	<div style="height:100%" ng-controller="CustomWidgetCtrl">
		<div class="panel panel-info" style="height:100%">
			<div class="panel-heading">

				<div class="content-title i-block">
					<h4 class="zero-m">{[{ widget.settings.name }]}</h4>
					<div class="content-tools i-block pull-right">
						<a class="repeat-btn" title="settings" ng-click="openSettings(widget)">
							<i class="fa fa-cog"></i>
						</a>
						<a class="close-btn" title="Remove widget" ng-click="remove(widget)">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="panel-body">

			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="customPopupTemplate.html">
	<div class="custom-popup-wrapper"
	     ng-style="{top: position().top+'px', left: position().left+'px'}"
	     style="display: block;"
	     ng-show="isOpen() && !moveInProgress"
	     aria-hidden="{[{!isOpen()}]}">
		<p class="message">select location from drop down.</p>

		<ul class="dropdown-menu" role="listbox">
			<li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
			    ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option"
			    id="{[{::match.id}]}">
			</li>
		</ul>
	</div>
</script>

