{%- extends "layouts/base.html" %}

{% block html_attribs %}
{{super()}}
ng-app="KomradeApp"
lang="en"
{% endblock %}

{% block head %}
{{super()}}

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
	  href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='bower_components/mdi/css/materialdesignicons.min.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='bower_components/Waves/dist/waves.min.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='js/selects/cs-select.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='js/selects/cs-skin-elastic.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='bower_components/c3/c3.min.css') }}">
<link rel="stylesheet"
	  href="{{ url_for('static', filename='bower_components/zabuto_calendar/zabuto_calendar.min.css') }}">

<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}"/>
<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/jQuery-QueryBuilder/dist/css/query-builder.default.css')}}">

<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/angular-gridster/dist/angular-gridster.min.css')}}">

<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/angular-ui-notification/dist/angular-ui-notification.min.css')}}">

<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/ng-table/dist/ng-table.min.css')}}">

<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/angular-block-ui/dist/angular-block-ui.min.css')}}">
	  
<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/angular-xeditable/dist/css/xeditable.css')}}">

<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/ui-cropper/compile/minified/ui-cropper.css')}}">


<!-- 
<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='bower_components/dir_constructor/css/directive-counstructor.css')}}"> -->


<link rel="stylesheet" href="{{url_for('static', filename='bower_components/summernote/dist/summernote.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/selectize/dist/css/selectize.default.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='js/dir-constructor/directive-constructor/public_html/css/directive-constructor.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/jstree/dist/themes/default/style.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='js/input-dropdown/inputDropdownStyles.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/angular-wizard/dist/angular-wizard.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/ag-grid/dist/styles/theme-bootstrap.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='js/splitter/ui-layout.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/ng-panels/dist/ng-panels.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/angular-ivh-treeview/dist/ivh-treeview.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/angular-ivh-treeview/dist/ivh-treeview-theme-basic.css')}}">


<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='css/style.css')}}">

<style type="text/css">
	.grid1 {
		background: lightgoldenrodyellow;
	}
	.grid-stack-item-content {
		color: #2c3e50;
		text-align: center;
		background-color: #18bc9c;
	}
</style>

{% endblock %}

{% block scripts %}
{{super()}}

<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/underscore/underscore-min.js')}}"></script>
<script src="{{url_for('static', filename='js/menu/modernizr.custom.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/html5shiv/dist/html5shiv.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/respond/dest/respond.src.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/interactjs/dist/interact.min.js')}}"></script>

<script src="{{url_for('static', filename='js/menu/metisMenu_modified.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/Waves/dist/waves.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/cta/dist/cta.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/jquery-layout/source/stable/jquery.layout.min.js')}}"></script>

<script src="{{url_for('static', filename='js/menu/classie.js')}}"></script>
<script src="{{url_for('static', filename='js/menu/gnmenu.js')}}"></script>
<script src="{{url_for('static', filename='js/TableCSVExport/jquery.TableCSVExport.js')}}"></script>

<!-- <script src="{{url_for('static', filename='js/selects/selectFx.js')}}"></script> -->


<script src="{{url_for('static', filename='js/common.js')}}"></script>


<script src="{{url_for('static', filename='bower_components/angular/angular.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-ui-notification/dist/angular-ui-notification.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/javascript-detect-element-resize/jquery.resize.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-gridster/dist/angular-gridster.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/angular-animate/angular-animate.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/angular-route/angular-route.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-ui-router/release/angular-ui-router.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/angular-spinner/angular-spinner.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/highcharts/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts/highcharts-3d.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts/highcharts-more.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts/modules/solid-gauge.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts/modules/drilldown.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts/modules/exporting.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts/modules/heatmap.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts/modules/treemap.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/highcharts-ng/dist/highcharts-ng.js')}}"></script>
<script src="{{url_for('static', filename='js/input-dropdown/inputDropdownModified.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/socket.io-client/dist/socket.io.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/angular-ui-uploader/dist/uploader.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/ui-cropper/compile/minified/ui-cropper.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-moment/angular-moment.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/moment/locale/ru.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>



<!--script src="{{url_for('static', filename='bower_components/ng-scrollbars/dist/scrollbars.min.js')}}"></script-->
<script src="{{url_for('static', filename='js/jQuery-QueryBuilder/dist/js/query-builder.standalone.js')}}"></script>
<script src="{{url_for('static', filename='js/jQuery-QueryBuilder/dist/i18n/query-builder.ru.js')}}"></script>
<script src="{{url_for('static', filename='js/jQuery-QueryBuilder_plugins/QueryBuilder_mapping2_plugin/plugin_mapping2.js')}}"></script>
<script src="{{url_for('static', filename='js/jQuery-QueryBuilder_plugins/QueryBuilder_datetimepicker_plugin/plugin_datetimepicker.js')}}"></script>
<script src="{{url_for('static', filename='js/jQuery-QueryBuilder_plugins/QueryBuilder_list_search_plugin/plugin_list_search.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/file-saver.js/FileSaver.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-file-saver/dist/angular-file-saver.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/angular-smart-table/dist/smart-table.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/angular-block-ui/dist/angular-block-ui.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/angular-poller/angular-poller.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-validation-match/dist/angular-validation-match.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-xeditable/dist/js/xeditable.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-socket-io/socket.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-selectize2/dist/angular-selectize.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-summernote/dist/angular-summernote.min.js')}}"></script>

<script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/dir-constructor/directive-constructor/public_html/js/directive-constructor.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/nestedSortable/jquery.ui.nestedSortable.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/summernote/dist/summernote.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/bootbox.js/bootbox.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/selectize/dist/js/standalone/selectize.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/jstree/dist/jstree.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/jquery-mousewheel/jquery.mousewheel.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-wizard/dist/angular-wizard.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/ag-grid/dist/ag-grid.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/restangular/dist/restangular.min.js')}}"></script>
<script src="{{url_for('static', filename='js/splitter/ui-layout.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/ng-panels/dist/ng-panels.js')}}"></script>
<script src="{{url_for('static', filename='js/double-scroll/double-scroll-bars.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/angular-ivh-treeview/dist/ivh-treeview.min.js')}}"></script>


{% for file_name in app_src_list %}
	<script src="{{url_for('static', filename=file_name)}}"></script>
{% endfor %}


<!-- komrad application files -->

<script src="{{url_for('static', filename='js/app/core/tree-fields.config.js')}}"></script>
<script src="{{url_for('static', filename='js/app/core/tree-fields.service.js')}}"></script>
<script src="{{url_for('static', filename='js/app/core/directives/tree-like-list.dir.js')}}"></script>
<script src="{{url_for('static', filename='js/app/core/directives/tree-fields-checkboxes.dir.js')}}"></script>
{% endblock %}


{% block body %}
{{super()}}

<div id="main-wrapper" class="main-wrapper"  ng-controller="menuController">
<!-- MAIN CONTENT AND INJECTED VIEWS -->

	<ul id="gn-menu" class="navbar gn-menu-main" >
		<li class="gn-trigger">
			<a id="menu-toggle" class="menu-toggle gn-icon gn-icon-menu">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="cross">
					<span></span>
					<span></span>
				</div>
			</a>
			<nav class="gn-menu-wrapper" >
				<div class="gn-scroller mCustomScrollbar _mCS_1 mCS-autoHide">
					<ul class="gn-menu metismenu">
						{% if a_map.PAGE_WIDGETS %}
						<li ng-class="{active: state.current.name == 'summary'}">
							<a href="#/" aria-expanded="true" ><i
									class="fa fa-pencil-square-o"></i>{{_('Widgets')}}</a>
						</li>
						{% endif %}
						{% if a_map.PAGE_REALTIME %}
						<li ng-class="{active: state.current.name == 'realtime'}">
							<a href="#/realtime" aria-expanded="true"><i
									class="fa fa-bar-chart"></i>{{_('Realtime data')}}</a>
						</li>
						{% endif %}
						{% if a_map.PAGE_RESOURCES_CONTROL %}
						<li ng-class="{active: state.current.name == 'nagset'}">
							<a aria-expanded="{[{state.current.name == 'resources'}]}" href="#"><i class="fa fa-chain"></i>
								{{_('Assets')}}
								<span  class="fa arrow"></span>
							</a>
							<ul aria-expanded="{[{state.current.name == 'resources'}]}"
							    class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'nagset'}">
									<a href="#/avmonitor/settings">
										{{_('Asset control')}}
									</a>
								</li>
							</ul>
						</li>
						{% endif %}
						{% if a_map.PAGE_SEARCH or a_map.PAGE_QUERIES %}
							<li ng-class="{active: (state.current.name == 'search' ||
									                state.current.name == 'searchdef') ||
												    state.current.name == 'querylist'}">
								<a aria-expanded="{[{state.current.name == 'events'}]}" href="#"><i class="fa fa-th-list"></i>
									{{_('Security events')}}
									<span  class="fa arrow"></span>
								</a>
								{% if a_map.PAGE_SEARCH %}
								<ul aria-expanded="{[{state.current.name == 'events'}]}"
								    class="gn-submenu collapse">
									<li ng-class="{active: (state.current.name == 'search' ||
									                        state.current.name == 'searchdef')}">
										<a href="#/search">
											{{_('Search events')}}
										</a>
									</li>
								</ul>
								{% endif %}
								{% if a_map.PAGE_QUERIES %}
								<ul aria-expanded="{[{state.current.name == 'events'}]}"
								    class="gn-submenu collapse">
									<li ng-class="{active: state.current.name == 'querylist'}">
										<a href="#/querylist">
											{{_('Queries')}}
										</a>
									</li>
								</ul>
								{% endif %}
							</li>
						{% endif %}

						{% if a_map.PAGE_CORRESPONDENCIES %}
						<li ng-class="{active: state.current.name == 'correspondences'}">
							<a aria-expanded="{[{state.current.name == 'correspondences'}]}">
								<i class="fa fa-file-text"></i>
								{{_('Compliance controle')}}
								<span class="fa arrow"></span>
							</a>
							<ul aria-expanded="{[{state.current.name == 'correspondences'}]}" class="gn-submenu collapse" ng-class="{in: state.current.name == 'correspondences'}">
								<li ng-class="{active: state.current.name == 'correspondences'}">
									<a href="#/correspondences">
									ГОСТ Р ИСО/МЭК 27001-2006
									</a>
								</li>
							</ul>
						</li>
						{% endif %}

						{% if a_map.PAGE_INCIDENTS or a_map.PAGE_DIR_CONSTRUCTOR %}
						<li ng-class="{active: state.current.name == 'dirconstructor' ||
											   state.current.name == 'alerts'}">
							<a aria-expanded="{[{state.current.name == 'correlation'}]}" href="#"><i class="fa fa-chain"></i>
								{{_('Correlation')}}
								<span  class="fa arrow"></span>
							</a>
							{% if a_map.PAGE_DIR_CONSTRUCTOR %}
							<ul aria-expanded="{[{state.current.name == 'correlation'}]}"
							    class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'dirconstructor'}">
									<a href="#/dirconstructor">
									{{_('Dir constructor')}}
									</a>
								</li>
							</ul>
							{% endif %}
							{% if a_map.PAGE_INCIDENTS %}
							<ul aria-expanded="{[{state.current.name == 'correlation'}]}"
							    class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'alerts'}">
									<a href="#/correl/alerts/all">
									{{_('Alerts list')}}
									</a>
								</li>
							</ul>
							{% endif %}
						</li>
						{% endif %}

						{% if a_map.PAGE_FACTS_BASE or a_map.PAGE_EVENTVISIO %}
						<li ng-class="{active: state.current.name == 'eventvisio' ||
											   state.current.name == 'fblists'}">
							<a aria-expanded="{[{state.current.name == 'eventvisio'}]}" href="#"><i class="fa fa-sitemap"></i>
								{{_('Analytics')}}
								<span class="fa arrow"></span>
							</a>

							{% if a_map.PAGE_EVENTVISIO %}
							<ul aria-expanded="{[{state.current.name == 'eventvisio'}]}" 
							    class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'eventvisio'}">
									<a href="#/eventvisio">
									{{_('Events Visualizer')}}
									</a>
								</li>
							</ul>
							{% endif %}

							{% if a_map.PAGE_FACTS_BASE %}
							<ul aria-expanded="{[{state.current.name == 'fblists'}]}" 
							    class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'fblists'}">
									<a href="#/bof/lists">
									{{_('Base of facts')}}
									</a>
								</li>
							</ul>
							{% endif %}
						</li>
						{% endif %}


						{% if a_map.PAGE_AVAILABILITY or a_map.PAGE_MAP %}
						<li ng-class="{active: state.current.name == 'map' ||
											   state.current.name == 'availability'}">
							<a aria-expanded="{[{state.current.name == 'avmonitor'}]}" href="#">
								<i class="fa fa-map-o"></i>
								{{_('Availabilty monitoring')}}
								<span class="fa arrow"></span>
							</a>
							{% if a_map.PAGE_MAP %}
							<ul aria-expanded="{[{state.current.name == 'avmonitor'}]}" class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'map'}">
									<a href="#/avmonitor/map">
										{{_('The MAP')}}
									</a>
								</li>
							</ul>
							{% endif %}
							{% if a_map.PAGE_AVAILABILITY %}
							<ul aria-expanded="{[{state.current.name == 'avmonitor'}]}" class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'availability'}">
									<a href="#/avmonitor/availability">
										{{_('Availability')}}
									</a>
								</li>
							</ul>
							{% endif %}

						</li>
						{% endif %}


						{% if a_map.PAGE_LICENSE or a_map.PAGE_USERS or
						      a_map.PAGE_ROTATIONS or a_map.PAGE_PLUGINS %}
						<li ng-class="{active: state.current.name == 'license' ||
											   state.current.name == 'journals' ||
											   state.current.name == 'users-and-roles' ||
											   state.current.name == 'rotations' ||
											   state.current.name == 'plugins'}">
							<a aria-expanded="{[{state.current.name == 'settings'}]}" href="#">
								<i class="fa fa-wrench"></i>
								{{_('Administration')}}
								<span class="fa arrow"></span>
							</a>

							{% if a_map.PAGE_LICENSE %}
							<!--<ul aria-expanded="{[{state.current.name == 'settings'}]}" class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'license'}">
									<a href="#/config/license">
										{{_('License control')}}
									</a>
								</li>
							</ul>-->
							{% endif %}
							{% if a_map.PAGE_USERS %}
							<ul aria-expanded="{[{state.current.name == 'settings'}]}" class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'users-and-roles'}">
									<a href="#/config/users-and-roles">
										{{_('Users')}}
									</a>
								</li>
							</ul>
							{% endif %}
							{% if a_map.PAGE_ROTATIONS %}
							<ul aria-expanded="{[{state.current.name == 'rotations'}]}" class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'rotations'}">
									<a href="#/config/rotations">
										{{_('Events storage')}}
									</a>
								</li>
							</ul>
							{% endif %}
							{% if a_map.PAGE_PLUGINS %}
							<ul aria-expanded="{[{state.current.name == 'plugins'}]}" class="gn-submenu collapse">
								<li ng-class="{active: state.current.name == 'plugins'}">
									<a href="#/config/plugins">
										{{_('Plugins')}}
									</a>
								</li>
							</ul>
							{% endif %}

						</li>
						{% endif %}
					</ul>
				</div>
				<!-- /gn-scroller -->
				<div class="bottom-bnts">
					<a class="logout" href="#"><i class="mdi mdi-power"></i></a>
					<a class="fix-nav selected" href="#" ng-click="renderLayout()">
					<i class="mdi mdi-pin-off"></i>
					</a>
				</div>
			</nav>
		</li>
		<li>
			<image src="{{url_for('static', filename='img/Komrad-html-white.svg')}}"
			       width="56" height="56"  style="margin-top: -10px;"/>
		</li>
		<li>
			<a href="#" ng-click="goHome()" class="logo text-uppercase">
				<b ><font color="white">{{_('Komrad')}}</font></b></i>
			</a>
		</li>
		<li>
			<div ncy-breadcrumb></div>
		</li>
		<li class="container-fluid pull-right">
			<ul class="nav navbar-right right-menu">

				<!--<li class="lang">-->
					<!--<select class="cs-select cs-skin-elastic">-->
						<!--<option value="english"-->
								<!--data-class="flag-england cs-selected" selected>-->
							<!--English-->
						<!--</option>-->
						<!--<option value="german" data-class="flag-germany">-->
							<!--German-->
						<!--</option>-->
						<!--<option value="french" data-class="flag-france">French-->
						<!--</option>-->
					<!--</select>-->
				<!--</li>-->
				<li>
					<b>{[{ my_username }]}</b>
				</li>
				<!--<li class="dropdown some-btn"
				    ng-show="state.current.data.docFile !== undefined;">
					<a target="_blank" ng-href="/static/doc/{[{state.current.data.docFile}]}" class="docs"
					ng-click="activeLinkShotdown()">
						<i class="fa fa-question"></i>
					</a>
				</li>-->
				<li class="dropdown notifications" ng-controller="alertsNotify as antfy">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-bell-o"></i>
						<span class="label label-warning"
						      ng-show="dataPulled">{[{alerts_count}]}</span>
					</a>
					<ul class="dropdown-menu" style="height: auto; overflow-y: hidden;">
						<li>
							<h4 class="zero-m text-center">{{_('Alerts')}}</h4>
						</li>
						<li>
							<div class="messages" >
								<table class="table table-striped">
									<tr  style="cursor: pointer;" ng-repeat="obj in alerts_list" ng-click="goToAlert(obj.id)">
										<td>{[{ obj.alert_time *1000 | date:'HH:mm:ss dd-MM-yyyy' }]}</td>
		<!-- 							    <td>{[{ obj.alert_id }]}</td> -->
										<td>{[{ obj.ru_name }]}</td>
									</tr>
								</table>

<!-- 								<div class="member-info">
									<span class="member-name">{[{obj.timestamp}]}</span>
									<p class="members-message zero-m">{[{obj.alert_id}]}</p>
									<p class="members-message zero-m">{[{obj.directive_id}]}</p>
								</div> -->
							</div>
						</li>
						<li class="text-center" >
							<a href="#/correl/alerts/all" style="font-size: 14px; border-top: 1px dashed #63A8EB; color: #63A8EB;">
								{{_('Show other')}} {[{alerts_count - alerts_in_menu}]}
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown some-btn">
					<a class="fullscreen">
						<i class="mdi mdi-fullscreen"></i>
					</a>
				</li>
			</ul>
		</li>
	</ul>

	<!--Footer-->
	<div class="footer">© 2017 {{_('Copyright')}}</div>



</div>


<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="content" class="content container-fluid btns">
	<!-- angular templating -->
	<!-- this is where content will be injected -->
	<!--<div ng-view></div>-->

	<state-loader></state-loader>
	<div ui-view class="main-view"></div>
</div>

<div class="logout-modal modal fade">
	<div class="table-wrapper">
		<div class="table-row">
			<div class="table-cell text-center">
				<div class="login i-block">
					<div class="content-box">
						<div class="light-blue-bg biggest-box">
							<button type="button" class="close"
									data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span></button>
							</br>
							<h3 class="zero-m text-uppercase">{{_('Do you want to exit?')}}</h3>
							<form method="post" action="logout">
								<a type="submit" value="Submit" href="/logout"
								   class="i-block">{{_('Yes')}}</a>
								<a href="#" class="i-block"
								   data-dismiss="modal">{{_('No')}}</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="403_default_error.html">
	<div class="content container-fluid btns">
		{% include 'errors/403_body.html' %}
	</div>
</script>

	{% include 'included_scripts/removeConfirmation.html' %}

{% endblock %}

