
	<ul id="gn-menu" class="navbar gn-menu-main">
		<li class="gn-trigger">
			<a id="menu-toggle" class="menu-toggle gn-icon gn-icon-menu">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="cross">
					<span></span>
					<span></span>
				</div>
			</a>
			<nav class="gn-menu-wrapper">
				<div class="gn-scroller">
					<ul class="gn-menu metismenu">
						<li ng-class="{active: state.current.name == 'summary'}">
							<a href="#/" aria-expanded="true" ><i
									class="fa fa-pencil-square-o"></i>{{_('Widgets')}}</a>
						</li>
						<li ng-class="{active: state.current.name == 'realtime'}">
							<a href="#/realtime" aria-expanded="true"><i
									class="fa fa-bar-chart"></i>{{_('Realtime data')}}</a>
						</li>
						<li ng-class="{active: (state.current.name == 'search' || state.current.name == 'searchdef') }">
							<a href="#/search" aria-expanded="true"><i
									class="fa fa-wrench"></i>{{_('Search events')}}</a>
						</li>
						<li ng-class="{active: state.current.name == 'query_list'}">
							<a href="#/query_list" aria-expanded="true">
								<i class="fa fa-th-list"></i>{{_('Queries')}}
							</a>
						</li>
						<li>
							<a aria-expanded="{[{state.current.name == 'correspondences'}]}" href="#"><i class="fa fa-file-text"></i>
								{{_('Compliance controle')}}
								<span class="fa arrow"></span>
							</a>
							<ul aria-expanded="{[{state.current.name == 'correspondences'}]}" class="gn-submenu collapse" ng-class="{in: state.current.name == 'correspondences'}">
								<li ng-class="{active: state.current.name == 'correspondences'}">
									<a href="#/correspondences">
									ГОСТ Р ИСО/МЭК 27001-2006
									</a>
								</li>
							</ul>
							<ul aria-expanded="{[{state.current.name == 'dirconstructor'}]}" class="gn-submenu collapse" ng-class="{in: state.current.name == 'dirconstructor'}">
								<li ng-class="{active: state.current.name == 'dirconstructor'}">
									<a href="#/dirconstructor">
									{{_('Dir constructor')}}
									</a>
								</li>
							</ul>
						</li>
						<!--<li ng-class="{active: state.current.name == 'sec_event'}">-->
							<!--<a href="#event" aria-expanded="true"><i-->
									<!--class="fa fa-th-list"></i>{{_('Security Event')}}-->
							<!--</a>-->
						<!--</li>-->
						<!--<li ng-class="{active: state.current.name == 'widgets'}">-->
							<!--<a href="#widgets" aria-expanded="true" ng-click="reload()"><i-->
									<!--class="fa fa-pencil-square-o"></i>{{_('Widgets')}}</a>-->
						<!--</li>-->

					</ul>
				</div>
				<!-- /gn-scroller -->
				<div class="bottom-bnts">
					<a class="logout" href="#"><i class="mdi mdi-power"></i></a>
					<a class="fix-nav selected" href="#">
					<i class="mdi mdi-pin-off"></i>
					</a>
				</div>
			</nav>
		</li>
		<li>
			<image src="{{url_for('static', filename='img/Komrad-html-white.svg')}}"
				   width="56" height="56"  style="margin-top: -10px;"/>
		</li>
		<li>
			<a href="index.html" class="logo text-uppercase"><b ><font color="white">Komrad</font></b></i></a>
		</li>

		<li class="container-fluid pull-right">
			<ul class="nav navbar-right right-menu">

				<!--<li class="lang">-->
					<!--<select class="cs-select cs-skin-elastic">-->
						<!--<option value="english"-->
								<!--data-class="flag-england cs-selected" selected>-->
							<!--English-->
						<!--</option>-->
						<!--<option value="german" data-class="flag-germany">-->
							<!--German-->
						<!--</option>-->
						<!--<option value="french" data-class="flag-france">French-->
						<!--</option>-->
					<!--</select>-->
				<!--</li>-->

				<li class="dropdown some-btn">
					<a class="fullscreen">
						<i class="mdi mdi-fullscreen"></i>
					</a>
				</li>
			</ul>
		</li>
	</ul>


	<!--Footer-->
	<div class="footer">© 2015 {{_('Copyright')}}</div>


