<div class="content-box big-box" >
	<div class="row">
		<div class="row col-lg-5 col-md-8 col-sm-12">
			<div class="col-lg-12">
				<h3>
					<span ng-class="statuses[eventsData.status].props">
						<span class="status" ng-class="statuses[eventsData.status].icon"></span>
					</span>{[{ eventsData.id }]}
				</h3>
			</div>
			<div class="col-lg-6">
				<table class="table">
					<tr>
						<th style="width:1%; white-space: nowrap;">{{_('Dirctive name')}}</th>
						<td>{[{eventsData.ru_name}]}</td>
					</tr>
					<tr>
						<th style="width:1%; white-space: nowrap;">{{_('Risk')}}</th>
						<td>
							<span ng-class="this.risks[to_update.risk.id].props"
							      editable-select="to_update.risk.id"
							      e-form="formRisk"
							      buttons="no"
							      e-ng-options="r.id as r.name for r in risks"
							      onbeforesave="saveRisk($data)">
								{[{ risks[to_update.risk.id].name }]}
							</span>&nbsp;
							<i style="cursor:pointer" class="fa fa-pencil"  ng-click="formRisk.$show()" ng-hide="formRisk.$visible"></i>
						</td>
					</tr>
					<tr>
						<th style="width:1%; white-space: nowrap;">{{_('Status')}}</th>
						<td>
							<span ng-class="this.statuses[to_update.status.id].props"
							      editable-select="to_update.status.id"
							      e-form="formStatus"
							      buttons="no"
							      e-ng-options="s.id as s.name for s in statuses"
							      onbeforesave="saveStatus($data)">
								{[{ statuses[to_update.status.id].name }]}
							</span>&nbsp;
							<i style="cursor:pointer" class="fa fa-pencil"  ng-click="formStatus.$show()" ng-hide="formStatus.$visible"></i>
						</td>
					</tr>
					<tr>
						<th>{{_('Group')}}</th>
						<td>
							<span class="label label-default" ng-repeat-start="gr in eventsData.user_group_asigned">
								<i class="fa fa-user" ng-show="gr.is_user"></i>
								<i class="fa fa-group" ng-hide="gr.is_user"></i>
								{[{gr.name}]}
							</span>
							<span ng-repeat-end>&nbsp;</span>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-6">
				<table class="table">
					<tr>
						<th>{{_('Timestamp')}}</th>
						<td>{[{ eventsData.alert_time * 1000 | date:'dd/MM/yyyy HH:mm:ss' }]}</td>
					</tr>
					<tr>
						<th>{{_('Started from')}}</th>
						<td>{[{ eventsData.first_event_time * 1000 | date:'dd/MM/yyyy HH:mm:ss' }]}</td>
					</tr>
					<tr>
						<th>{{_('Events')}}</th>
						<td>{[{ eventsData.events_number }]}</td>
					</tr>
					<tr>
						<th>{{_('Duration')}}</th>
						<td>{[{ (eventsData.alert_time - eventsData.first_event_time) * 1000 | millsecondsToTimeString}]}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-lg-7 col-md-4 col-sm-12" ng-show="showGraph">
			<highchart id="chart1" config="chartConfig"></highchart>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="btn-group" uib-dropdown dropdown-append-to-body auto-close="disabled">
				<button id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle
				        title="{{_('Make PDF')}}">
					<i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
					<li>
						<div class="row" style="padding-left: 20px; padding-right: 20px; max-width: 300px">
							<div class="col-md-12 col-xs-12">
								<div class="checkbox checkbox-success">
									<label>
										<input type="checkbox" 
										       ng-true-value="1" ng-false-value="0"
										       class="mail-checkbox" 
										       ng-model="report.log">
										<i></i>
									</label>{{_('Log')}}
								</div>
							</div>
							<div class="col-md-12 col-xs-12">
								<div class="checkbox checkbox-success">
									<label>
										<input type="checkbox" 
										       ng-true-value="1" ng-false-value="0"
										       class="mail-checkbox" 
										       ng-model="report.events">
										<i></i>
									</label>{{_('Events timeline')}}
								</div>
							</div>
							<div class="col-md-12 col-xs-12" ng-show="report.events">
								<selectize config='selectizeReportConfig'
								           options='events_list'
								           ng-model="report.f">
								</selectize>
							</div>
							<div class="col-md-12 col-xs-12">
								<div class="checkbox checkbox-success">
									<label>
										<input type="checkbox"
										       ng-true-value="1" ng-false-value="0"
										       class="mail-checkbox"
										       ng-model="report.graph">
										<i></i>
									</label>{{_('Graph')}}
								</div>
							</div>
						</div>
					</li>
					<li role="menuitem" style="cursor: pointer;">
						<a ng-click="generate()">{{_('Generate')}}</a>
					</li>
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="generateCSV()"
				        title="{{_('Export in CSV')}}">
					<i class="fa fa-table" aria-hidden="true"></i>
				</button>
			</div>
<!-- 			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="gotoEditor()">
					{{_('Edit')}}
				</button>
			</div> -->
		</div>
	</div>
</div>


<div class="tabbable panel with-nav-tabs panel-default">
	<div class="panel-heading">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" ng-href="#/correl/alert/{[{eventsData.id}]}#events">{{_("Events")}}</a></li>
			<li><a id="logBtn" data-toggle="tab" ng-href="#/correl/alert/{[{eventsData.id}]}#log">{{_("Log")}}</a></li>
		</ul>
		<div class="clearfix"></div>
	</div>

	<div class="panel-body">
		<div class="tab-content">

			<div id="events" class="tab-pane fade in active">
				<div class="col-lg-12" ng-repeat="lvl in eventsData.events ">
					<h4>{{_('Rule')}}: {[{ lvl.name }]}</h4>
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="width:1%; white-space: nowrap;">{{_('Timestamp')}}</th>
								<th style="width:1%; white-space: nowrap;">{{_('Plugin id')}}</th>
								<th style="width:1%; white-space: nowrap;">{{_('Plugin sid')}}</th>
								<th style="width:100%;">{{_('Data')}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in lvl.events | filter:hcSelection('timestamp')" 
							    ng-click="open(row.event_id)"
							    style="cursor:pointer;">
								<td>{[{ row.timestamp * 1000 | date:'dd/MM/yyyy HH:mm:ss' }]}</td>
								<td>{[{ row.plugin_id }]}</td>
								<td>{[{ row.plugin_sid }]}</td>
								<td><div>{[{ row.data }]}</div></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<div id="log" class="tab-pane fade">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2
					            col-md-10 col-md-offset-2
					            col-sm-12"
					     ng-repeat="row in eventsData.history">
						<div class="row">
						<!-- new comment block -->
							<!--<div class="col-lg-1 col-md-1 col-sm-1 text-left">
								<img ng-show="row.changed_by.image"
								     class="img-circle mCS_img_loaded"
								     ng-src="file/{[{ row.changed_by.image }]}"
								     height="52"
								     width="52">
								<img ng-hide="row.changed_by.image" height="52" width="52"
								     class="img-circle mCS_img_loaded"
								     src="{{url_for('static', filename='img/default-user-24-24.png')}}">
							</div>-->
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="row">
									<div class="col-lg-6 text-left">
										{{_('Changed by')}} <a ng-href="#">{[{ row.changed_by.username }]}</a>
									</div>
									<div class="col-lg-6 text-right">
										{[{ row.dt | date:'dd-MM-yyyy HH:mm:ss' }]}
									</div>
									<div class="col-lg-12" ng-bind-html="row.msg"></div>
									<div class="col-lg-12" ng-bind-html="row.comment"></div>
								</div>
							</div>
						</div>
						<hr ng-if="!$last" class="comment-middle-line">
					</div>
					<div class="col-lg-8 col-md-offset-2
					            col-md-10 col-md-offset-2
					            col-sm-12 text-center"
					            >
						<!-- pager -->
						<!--<ul ng-if="pager.pages.length" class="pagination">
							<li ng-class="{disabled:pager.currentPage === 1}">
								<a class="waves waves-button waves-effect waves-float"
								   ng-click="setPage(1)">{{_('First')}}</a>
							</li>
							<li ng-class="{disabled:pager.currentPage === 1}">
								<a class="waves waves-button waves-effect waves-float"
								   ng-click="setPage(pager.currentPage - 1)">
									<i class="fa fa-chevron-left"></i>
								</a>
							</li>
							<li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
								<a class="waves waves-button waves-effect waves-float"
								   ng-click="setPage(page)">{[{page}]}</a>
							</li>
							<li class="animate-show"
							    ng-hide="(pager.currentPage == pager.totalPages ||
                                      pager.currentPage == (pager.totalPages-1) ||
                                      pager.currentPage == (pager.totalPages-2))?true:false">
								<a style="cursor: default">...</a>
							</li>
							<li class="animate-show"
							    ng-hide="(pager.currentPage == pager.totalPages ||
                                      pager.currentPage == (pager.totalPages-1) ||
                                      pager.currentPage == (pager.totalPages-2))?true:false">
								<a class="waves waves-button waves-effect waves-float"
								   ng-click="setPage(pager.totalPages)">{[{pager.totalPages}]}</a>
							</li>
							<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
								<a class="waves waves-button waves-effect waves-float"
								   ng-click="setPage(pager.currentPage + 1)">
									<i class="fa fa-chevron-right"></i>
								</a>
							</li>
							<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
								<a class="waves waves-button waves-effect waves-float"
								   ng-click="setPage(pager.totalPages)">{{_('Last')}}</a>
							</li>
						</ul>-->
						<hr class="comment-middle-line">
					</div>
					<div class="col-lg-8 col-lg-offset-2
					            col-md-10 col-md-offset-2
					            col-sm-12" id="editor" >
						<div class="row">
						<!-- new comment block -->
							<!--<div class="col-lg-1 col-md-1 col-sm-1 text-left">
								<img ng-show="me.image"
								     class="img-circle mCS_img_loaded"
								     ng-src="file/{[{ me.image }]}"
								     height="52"
								     width="52">
								<img ng-hide="me.image" height="52" width="52"
								     class="img-circle mCS_img_loaded"
								     src="{{url_for('static', filename='img/default-user-24-24.png')}}">
							</div>-->
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="row">

									<form name="form" class="content-form form-inline">
										<div class="form-group col-lg-2" >
											<label>{{_('New risk')}}</label>
											<div class="">
												<select class="btn waves btn-primary dropdown-toggle waves-effect waves-float"
												      ng-options="option.name for option in risks track by option.id"
												      ng-model="to_update.risk">
												</select>
											</div>
										</div>
										<div class="form-group col-lg-2">
											<label>{{_('New status')}}</label>
											<div class="">
												<select class="btn waves btn-primary dropdown-toggle waves-effect waves-float"
												      ng-options="option.name for option in statuses track by option.id"
												      ng-model="to_update.status">
												</select>
											</div>
										</div>
										<div class="form-group col-lg-7">
											<label>{{_('Groups')}}</label>
											<div class="">
												<selectize config='selectizeGroupsConfig'
												           options='assign_list'
												           ng-model="to_update.user_group_asigned">
												</selectize>
											</div>
										</div>
									</form>

									<div class="col-lg-12">
										<summernote config="summernoteConfig" ng-model="to_update.comment"></summernote>
									</div>
									<div class="col-lg-12">
										<button type="button"
										        class="btn waves btn-primary waves-effect waves-float"
										        ng-click="submitChanges()">
											{{_('Commit')}}
										</button>
									</div>
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1">
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
