<div class="row">
	<h3>{{_('Backups')}}</h3>

<hr style="width: 100%; color: #63A8EB; height: 1px; background-color:#63A8EB; margin-top:0px;" />


<div class="col-lg-12">
	<div id="tenth-tabs" class="tabbable vertical-tabs">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-xs-4">
					<ul class="nav tabs-left">
						<li class="active">
							<a data-toggle="tab" href="#/config/backups#one" aria-expanded="true">
								<span class="fa-stack">
								</span> {{_('events store')}}</a>
						</li>
						<li class="">
							<a data-toggle="tab" href="#/config/backups#two" aria-expanded="false">
								<span class="fa-stack">
								</span> {{_('configs store')}}</a>
						</li>
						<li class="">
							<a data-toggle="tab" href="#/config/backups#sec" aria-expanded="false">
								<span class="fa-stack"></span>
									{{_('incedents store')}}
							</a>
						</li>
					</ul>
				</div>

				<div class="col-lg-10 col-md-10 col-xs-8" style="padding-left: 0px;">
					<div class="tab-content">

						<div id="one" class="tab-pane fade active in">
{% with articles='first' %}
{% include "configuration/backup_single.html" %}
{% endwith %}
						</div>

						<div id="sec" class="tab-pane fade">
{% with articles='second' %}
{% include "configuration/backup_single.html" %}
{% endwith %}
						</div>

						<div id="two" class="tab-pane fade">
{% with articles='third' %}
{% include "configuration/backup_single.html" %}
{% endwith %}
						</div>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
	</div>
</div>
</div>


