<div class="content-box big-box" >
	<div class="row">
		<table class="table table-hover table-striped">
			<thead>
			<tr>
				<th>SID плагина</th>
				<th>Описание</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="data in items">
				<td>{[{data.sid}]}</td>
				<td>{[{data.name}]}</td>
			</tr>
			</tbody>
		</table>
		<div class="col-lg-8 col-md-offset-2
					            col-md-10 col-md-offset-2
					            col-sm-12 text-center">
			<!-- pager -->
			<ul ng-if="pager.pages.length && (pager.totalPages > 1)" class="pagination">
				<li ng-class="{disabled:pager.currentPage === 1}">
					<a class="waves waves-button waves-effect waves-float"
					   ng-click="(pager.currentPage === 1)?disabled:setPage(1)">{{_('First')}}</a>
				</li>
				<li ng-class="{disabled:pager.currentPage === 1}">
					<a class="waves waves-button waves-effect waves-float"
					   ng-click="(self.currentPage === 1)?disabled:setPage(pager.currentPage - 1)">
						<i class="fa fa-chevron-left"></i>
					</a>
				</li>
				<li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
					<a class="waves waves-button waves-effect waves-float"
					   ng-click="setPage(page)">{[{page}]}</a>
				</li>
				<li class="animate-show"
				    ng-hide="(pager.currentPage == pager.totalPages ||
                                      pager.currentPage == (pager.totalPages-1) ||
                                      pager.currentPage == (pager.totalPages-2)||
                                      pager.currentPage == (pager.totalPages-3)||
                                      pager.totalPages <= 7)?true:false">
					<a style="cursor: default">...</a>
				</li>
				<li class="animate-show"
				    ng-hide="(pager.currentPage == pager.totalPages ||
                                      pager.currentPage == (pager.totalPages-1) ||
                                      pager.currentPage == (pager.totalPages-2)||
                                      pager.currentPage == (pager.totalPages-3)||
                                      pager.totalPages <= 7)?true:false">
					<a class="waves waves-button waves-effect waves-float"
					   ng-click="setPage(pager.totalPages)">{[{pager.totalPages}]}</a>
				</li>
				<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
					<a class="waves waves-button waves-effect waves-float"
					   ng-click="(pager.currentPage === pager.totalPages)?disabled:setPage(pager.currentPage + 1)">
						<i class="fa fa-chevron-right"></i>
					</a>
				</li>
				<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
					<a class="waves waves-button waves-effect waves-float"
					   ng-click="(pager.currentPage === pager.totalPages)?disabled:setPage(pager.totalPages)">{{_('Last')}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>


