
<div class="content-box box-shadow big-box">
	<div class="email-container">
		<div class="inbox-head" style="padding-bottom: 0px; padding-top: 0px; height:auto; min-height: 20px;">
			<div class="mail-option row" style="margin-bottom: 0px;">
				<div class="col-lg-3 col-md-4 col-sm-5  col-xs-12">
					<div class="check-all pull-center" style="vertical-align: middle;">
						<div class="checkbox checkbox-success pull-left">
							<label>
								<input type="checkbox" 
								       class="mail-checkbox"
								       ng-model="select_all"
								       ng-click="toggleAll()">
								<i></i>
							</label>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" 
						        class="btn btn-success waves waves-effect waves-float"
						        ng-click="setState(1)">{{_('Enable')}}</button>
						<button type="button" class="btn btn-danger waves waves-effect waves-float"
						        ng-click="setState(0)">{{_('Disable')}}</button>
					</div>
				</div>
				<div class="col-lg-9 col-md-8 col-sm-7  col-xs-12">
					<div class="input-group pull-right">
						<input type="text" class="search-input" ng-model="filterString"
						       placeholder="Поиск...">
						<button class="btn search-btn waves waves-effect waves-float" 
						        type="button"
						        ng-click="filterPlugins()">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="inbox-body" style="padding-bottom: 0px; padding-top: 0px;">
			<plugins-table preloaded-data="plugs.data" service-name="plugs.service"></plugins-table>
		</div>
	</div>
</div>

