
/**
  UI.Layout CSS
*************************************/
.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Can be changed by hand ;)*/
  overflow: auto;
}

.animate-row {
  -webkit-transition: height .8s cubic-bezier(0, 1.05, 0, 1);
  -moz-transition: height .8s cubic-bezier(0, 1.05, 0, 1);
  -ms-transition: height .8s cubic-bezier(0, 1.05, 0, 1);
  -o-transition: height .8s cubic-bezier(0, 1.05, 0, 1);
  transition: height .8s cubic-bezier(0, 1.05, 0, 1);

  -webkit-transition: top .8s cubic-bezier(0, 1.05, 0, 1);
  -moz-transition: top .8s cubic-bezier(0, 1.05, 0, 1);
  -ms-transition: top .8s cubic-bezier(0, 1.05, 0, 1);
  -o-transition: top .8s cubic-bezier(0, 1.05, 0, 1);
  transition: top .8s cubic-bezier(0, 1.05, 0, 1);
}

.animate-column {
  -webkit-transition: width .8s cubic-bezier(0, 1.05, 0, 1);
  -moz-transition: width .8s cubic-bezier(0, 1.05, 0, 1);
  -ms-transition: width .8s cubic-bezier(0, 1.05, 0, 1);
  -o-transition: width .8s cubic-bezier(0, 1.05, 0, 1);
  transition: width .8s cubic-bezier(0, 1.05, 0, 1);

  -webkit-transition: left .8s cubic-bezier(0, 1.05, 0, 1);
  -moz-transition: left .8s cubic-bezier(0, 1.05, 0, 1);
  -ms-transition: left .8s cubic-bezier(0, 1.05, 0, 1);
  -o-transition: left .8s cubic-bezier(0, 1.05, 0, 1);
  transition: left .8s cubic-bezier(0, 1.05, 0, 1);
}

.ui-splitbar{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  justify-content: center;

  background-color: #ffffff;
  right: auto;
  position: absolute;
  z-index: 1;
}

.ui-layout-row > .ui-splitbar{
  height: 8px; width: 100%;
  cursor: row-resize;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  overflow-y: hidden;
}
.ui-layout-column > .ui-splitbar{
  width: 8px; height: 100%;
  cursor: col-resize;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(to right, #fff 0%, #eee 100%);
  overflow-x: hidden;
}

#ghostbar{
  width:8px;
  height: 100%;
  background: linear-gradient(to right, #5b5b5b 0%, #eee 100%);
  opacity:0.5;
  position:absolute;
  cursor: col-resize;
  z-index:999
}

.ui-layout-column > .ui-splitbar > a,
.ui-layout-row > .ui-splitbar > a {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #aaa;
}

.ui-layout-column > .ui-splitbar > a:nth-child(2){
  margin-top: 0.35rem;
}

.ui-layout-row > .ui-splitbar > a:nth-child(2){
  margin-left: 0.35rem;
}


/**
* Icons
**/

.ui-splitbar-icon {
  width: 0;
  height: 0;
  display: inline-block;
}

.ui-splitbar-icon-up {
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-bottom: 0.45em solid;
}

.ui-splitbar-icon-down {
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-top: 0.45em solid;
  margin-right: 0.45em;
}

.ui-splitbar-icon-right {
  border-top: 0.45em solid transparent;
  border-bottom: 0.45em solid transparent;
  border-left: 0.45em solid;

}

.ui-splitbar-icon-left {
  border-top: 0.45em solid transparent;
  border-bottom: 0.45em solid transparent;
  border-right: 0.45em solid;
  margin-top: 0.45em;
}

/* Allow disabling of icons */
.no-toggle .ui-splitbar-icon {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .no-mobile-toggle .ui-splitbar-icon {
    display: none;
  }
}

@media print {
  .ui-splitbar {
    display: none;
  }

  .stretch {
    position: relative;
  }
  /* The last item can take up any amount of space. */
  .stretch.ui-layout-container:last-child {
    position: static;
    overflow: visible;
  }
}

/* Make sure hidden elements are in fact not rendered. */
.ui-layout-hidden {
  display: none;
}
